<template>
  <overlay>
    <responsive-frame>
      <div class="columns is-multiline">
        <title-subtitle
          :use-as-text="true"
          class="column is-full is-10-mobile is-offset-1-mobile has-bottom-padding-20 module-spacer-top"
          :title="dateTitle"
          :subtitle="tSnippet('available_tours')"
        />
        <available-tour-card
          v-for="(timeSlot, index) in timeSlots"
          :key="index"
          class="column is-full is-10-mobile is-offset-1-mobile has-bottom-padding-20"
          :is-hidden="isHidden(timeSlots)"
          :is-loading="isLoading"
          :city="city"
          :time-slot="timeSlot"
          :item="cartItem"
          :body-height="bodyHeight"
          @on-body-height="onBodyHeightEvaluated"
        />
      </div>
    </responsive-frame>
  </overlay>
</template>

<script>
import SnippetMixin from '../../../../../../utils/mixins/SnippetMixin'
import UrlDateMixin from '../../../../../../utils/mixins/UrlDateMixin'
import CityPageMixin from '../../../../../../utils/mixins/CityPageMixin'
import FetchTimesMixin from '../../../../../../utils/mixins/FetchTimesMixin'
import MomentHelper from '../../../../../../utils/helper/MomentHelper'
import query from '../../../../../../apollo/queries/products.graphql'
import ProductMixin from '../../../../../../utils/mixins/ProductMixin'
const Overlay = () => import('../../../../../../components/Overlay')
const TitleSubtitle = () => import('../../../../../../components/TitleSubtitle')
const AvailableTourCard = () =>
  import('../../../../../../components/availableTours/AvailableTourCard')
const ResponsiveFrame = () =>
  import('../../../../../../components/ResponsiveFrame')

export default {
  name: 'Date',
  components: { ResponsiveFrame, AvailableTourCard, TitleSubtitle, Overlay },
  mixins: [
    SnippetMixin,
    UrlDateMixin,
    CityPageMixin,
    FetchTimesMixin,
    ProductMixin
  ],
  data() {
    return {
      timeSlots: [],
      dateTitle: null,
      bodyHeight: 0
    }
  },
  apollo: {
    products: { query }
  },
  async mounted() {
    const product = this.findProductFromRoute(this.products)
    if (!product) return
    await this.fetchTimes({
      dateString: this.dateString,
      cityId: this.city.id,
      articleId: this.getArticleConnectionForProduct(product).articleId
    })
    this.timeSlots = await this.getTimeSlots()
    this.dateTitle = await this.getDateTitle()
  },
  methods: {
    async getDateTitle() {
      const moment = await this.getMoment()
      return MomentHelper.getDateTitleFormattedString(moment)
    },
    onBodyHeightEvaluated(bodyHeight) {
      this.bodyHeight = bodyHeight
    },
    isHidden(timeSlots) {
      return !(timeSlots.length === 1) || timeSlots.length > 1
    }
  }
}
</script>

<style scoped></style>
