<template>
  <about-content />
</template>

<script>
import AboutContent from '../components/AboutContent'
import SEOMixin from '../utils/mixins/SEOMixin'
export default {
  name: 'About',
  components: { AboutContent },
  mixins: [SEOMixin]
}
</script>
