<template>
  <faq-content />
</template>

<script>
import FaqContent from '../components/FaqContent'
import SEOMixin from '../utils/mixins/SEOMixin'
export default {
  name: 'Faq',
  components: { FaqContent },
  mixins: [SEOMixin]
}
</script>
