<template>
  <styled-content title="imprint" subtitle="empty" content="imprint" />
</template>

<script>
import StyledContent from '../components/StyledContent'
import SEOMixin from '../utils/mixins/SEOMixin'

export default {
  name: 'Imprint',
  components: { StyledContent },
  seo: [SEOMixin]
}
</script>
