<template>
  <main-page-content
    :is-single-button-enabled="false"
    image-identifier="home"
    @disabled-click="showChooseCityAlert()"
  >
    <template v-slot:header>
      <CityPicker />
    </template>
    <template v-slot:upperContent>
      <div
        class="column is-12 is-gapless is-paddingless is-marginless known-by-wrapper"
      >
        <KnownBySection />
      </div>
    </template>
  </main-page-content>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'
import MainPageContent from '../components/MainPageContent'
import { interopDefault } from '../.nuxt/utils'
import ChooseCityAlertMixin from '../utils/mixins/ChooseCityAlertMixin'
import SEOMixin from '../utils/mixins/SEOMixin'
const CityPicker = () => interopDefault(import('../components/CityPicker'))
const KnownBySection = () =>
  interopDefault(import('../components/KnownBySection'))

export default {
  name: 'Index',
  components: {
    MainPageContent,
    CityPicker,
    KnownBySection
  },
  mixins: [SnippetMixin, ChooseCityAlertMixin, SEOMixin]
}
</script>

<style scoped lang="scss">
@import './../assets/scss/variables';
.known-by-wrapper {
  background-color: $light;
}
</style>
