<template>
  <styled-content
    title="privacy_policy"
    subtitle="tmg_article"
    content="privacy_policy"
  />
</template>

<script>
import StyledContent from '../components/StyledContent'
import SEOMixin from '../utils/mixins/SEOMixin'
export default {
  name: 'PrivacyPolicy',
  components: { StyledContent },
  mixins: [SEOMixin]
}
</script>
