<template>
  <custom-tours-detail-content />
</template>

<script>
import CustomToursDetailContent from '../../../../../components/CustomToursDetailContent'
export default {
  name: 'Name',
  components: { CustomToursDetailContent }
}
</script>

<style scoped></style>
