<template>
  <custom-tours-content />
</template>

<script>
import CustomToursContent from '../../../../../components/CustomToursContent'
import SEOMixin from '../../../../../utils/mixins/SEOMixin'
export default {
  name: 'Index',
  components: { CustomToursContent },
  mixins: [SEOMixin]
}
</script>

<style scoped></style>
