@import "~bulma/sass/utilities/initial-variables";

$primary: #e84f41;
$success: #3bd77b;
$dark: #444;
$white: white;
$light: #f7f7f7;
$greenPrimary: #2fd977;
$greenSecundary: #25bf66;
$redPrimary: #f45c3c;
$redSecundary: #d94d2f;
$grayPrimary: #bcbcbc;
$graySecundary: #919191;
$tooltip-color: white;
$tooltip-background-color: black;
$tooltip-font-family: Source Sans Pro;

$navigation-height: 5.25rem;

$tt-colors-list: ("primary": $primary, "success": $success, "dark": $dark);

$tt-light-colors-list: ("light": $light, "white": $white);

@each $name, $color in $tt-colors-list {
  .is-#{$name} {
    &.is-outlined {
      border-color: $color !important;
      color: $color !important;
      &.is-hovered, &:not(.no-hover):hover {
        background-color: $color !important;
        color: $white !important;
        &.is-light {
          color: $primary!important;
        }
      }
    }
    &:not(.is-outlined) {
      background-color: $color !important;
      color: $white !important;
      * {
        color: $white !important;
      }
      &.is-hovered, &:not(.no-hover):hover {
        background-color: darken($color, 3) !important;
      }
    }
  }
}

@each $name, $color in $tt-light-colors-list {
  .is-#{$name} {
    &.is-outlined {
      border-color: $color !important;
      color: $color !important;
      &.is-hovered, &:hover {
        background-color: $color !important;
        color: $dark !important;
        &.is-light {
          color: $primary!important;
        }
      }
    }
    &:not(.is-outlined) {
      background-color: $color !important;
      color: $dark !important;
      * {
        color: $dark !important;
      }
      &.is-hovered, &:hover {
        background-color: darken($color, 3) !important;
      }
    }
  }
}

$offsetValues: ("0": 0px, "10": 10px, "20": 20px, "30": 30px, "40": 40px, "50": 50px, "60": 60px, "70": 70px, "80": 80px, "90": 90px, "100": 100px, "110": 110px, "120": 120px, "130": 130px);

@each $name, $value in $offsetValues {
  .has-padding-#{$name} {
    padding: $value;
  }
  .has-top-padding-#{$name} {
    padding-top: $value;
  }
  .has-bottom-padding-#{$name} {
    padding-bottom: $value;
  }
  .has-left-padding-#{$name} {
    padding-left: $value;
  }
  .has-right-padding-#{$name} {
    padding-right: $value;
  }
  .has-margin-#{$name} {
    margin: $value;
  }
  .has-top-margin-#{$name} {
    margin-top: $value;
  }
  .has-bottom-margin-#{$name} {
    margin-bottom: $value;
  }
  .has-left-margin-#{$name} {
    margin-left: $value;
  }
  .has-right-margin-#{$name} {
    margin-right: $value;
  }
}

.is-mobile-text-small {
  @media screen and (max-width: $tablet) {
    font-size: 14px !important;
  }
}

.is-mobile-text-medium {
  @media screen and (max-width: $tablet) {
    font-size: 24px !important;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

h1, .title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

.module-spacer-bottom {
  padding-bottom: 4rem !important;
}
.module-spacer-top {
  padding-top: 4rem !important;
}

.has-padding-sides {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.has-no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

$background-url: url('https://res.cloudinary.com/foodiscovr/image/upload/o_20/v1566455641/Taste%20Tours/icons-bg.svg');

.background {
  background-image: linear-gradient(
                  rgba(255, 255, 255, 0.95),
                  rgba(255, 255, 255, 0.95)
  ),
  $background-url;
  position: center;
  @media screen and (max-width: $tablet) {
    background-size: cover;
  }
}

.rotate180Degree {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.is-truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@import '~bulma/bulma';
@import '~bulma-divider';
@import '~bulma-tooltip';