<template>
  <button v-snippet="gateway" class="button is-primary is-medium" />
</template>

<script>
export default {
  name: 'CheckoutGateway',
  props: {
    gateway: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped></style>
