<template>
  <div>
    <div class="has-top-padding-20">
      <iframe ref="frame" :src="sourceUrl" scrolling="no" :class="gateway" />
    </div>
  </div>
</template>

<script>
import IFrameMixin from '../../utils/mixins/IFrameMixin'
import PaymentHelper from '../../utils/helper/PaymentHelper'

export default {
  name: 'CheckoutPayment',
  mixins: [IFrameMixin],
  props: {
    bookingId: {
      type: String,
      required: true
    },
    token: {
      type: String,
      required: true
    },
    host: {
      type: String,
      required: true
    },
    gateway: {
      type: String,
      required: true
    }
  },
  computed: {
    sourceUrl() {
      return PaymentHelper.getPaymentUrl({
        host: this.host,
        bookingId: this.bookingId,
        token: this.token,
        gateway: this.gateway
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      const frame = this.$refs.frame
      if (!frame) return
      this.listenIFrameURLChange(frame)
    })
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/variables';
.button {
  background-color: $primary;
  color: white;
}
iframe {
  width: 100%;
  &.credit-card {
    height: 424px;
  }
  &.paypal {
    height: 665px;
  }
  &.invoice {
    height: 874px;
  }
}
</style>
