<template>
  <div>
    <div class="has-bottom-padding-20">
      <p class="has-text-centered is-size-5 has-text-black">2 Tickets</p>
      <p
        class="has-text-centered has-text-weight-bold is-size-3 has-text-black"
      >
        {{ price }}
      </p>
    </div>
    <InfoBox :name="name" :address="address" :payment="payment" />
    <CartItem
      v-for="orderItem in orderItems"
      :key="orderItem.id"
      :order-item="orderItem"
      class="has-bottom-padding-20"
      :is-hidden="true"
    />
    <div @click="onClick()">
      <TwoColorButton
        class="is-pulled-right module-spacer-bottom"
        snippet="order_now"
        button-color="green"
        button-icon="ok"
      />
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../../.nuxt/utils'

const CartItem = () => interopDefault(import('../CartItem'))
const TwoColorButton = () => interopDefault(import('../TwoColorButton'))
const InfoBox = () => interopDefault(import('./InfoBox'))
export default {
  name: 'CheckoutOrder',
  components: { TwoColorButton, InfoBox, CartItem },
  props: {
    orderItems: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      name: 'Henrik Steiert',
      address: 'Schulterblatt 58',
      payment: 'PayPal',
      price: '238,00€'
    }
  },
  methods: {
    onClick() {
      this.$emit('update-state')
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/variables';
.button {
  background-color: $primary;
  color: white;
}
</style>
