<template>
  <div>
    <div>
      <InputField
        ref="one"
        input-type="text"
        placeholder="name"
        warning-text="name_error"
        icon="user"
      />
      <InputField
        ref="two"
        input-type="email"
        placeholder="email"
        warning-text="email_error"
        icon="envelope"
      />
      <InputField
        ref="three"
        input-type="address"
        placeholder="address"
        warning-text="address_error"
        icon="home"
      />
      <div class="columns is-mobile is-marginless is-multiline">
        <InputField
          ref="four"
          class="column is-paddingless is-half-mobile"
          input-type="text"
          placeholder="zip"
          warning-text="zip_error"
          icon="map-pin"
        />
        <InputField
          ref="five"
          class="column is-paddingless is-half-mobile"
          input-type="text"
          placeholder="city"
          warning-text="city_error"
          icon="map-pin"
        />
      </div>
      <InputField
        ref="six"
        input-type="phone"
        placeholder="phone"
        warning-text="phone_error"
        icon="phone"
      />
      <InputField
        ref="note"
        input-type="optional-text"
        placeholder="find_out_about_us"
        icon="phone"
      />
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input v-model="wantsToKnowMore" type="checkbox" class="checkbox" />
            <label v-snippet="'want_to_learn_more'" />
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label v-snippet="'extra_info'" />
          <textarea ref="extraInfo" class="textarea"></textarea>
        </div>
      </div>
    </div>
    <div>
      <p
        v-if="showErrorMessage"
        v-snippet="'shipping_error'"
        class="help is-danger"
      />
    </div>
    <div class="has-top-padding-20">
      <button
        v-snippet="'next'"
        class="button is-rounded is-uppercase is-pulled-right has-padding-sides"
        @click="onClick()"
      />
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import SnippetMixin from '../../utils/mixins/SnippetMixin'
import { interopDefault } from '../../.nuxt/utils'
const InputField = () => interopDefault(import('../InputField'))

export default {
  name: 'CheckoutShipping',
  components: { InputField },
  mixins: [SnippetMixin],
  data() {
    return {
      showErrorMessage: false,
      wantsToKnowMore: false,
      checkoutLabels: {}
    }
  },
  computed: {
    isValidInput() {
      return (
        this.$refs.one.isValid &&
        this.$refs.two.isValid &&
        this.$refs.three.isValid &&
        this.$refs.four.isValid &&
        this.$refs.five.isValid &&
        this.$refs.six.isValid
      )
    }
  },
  async mounted() {
    this.checkoutLabels = await this.fetchCheckoutLabels()
  },
  methods: {
    ...mapActions({
      fetchCheckoutLabels: 'cart/getCheckoutLabels'
    }),
    async onClick() {
      if (this.isValidInput) {
        console.log('so valide diggi')
        await this.createBooking()
        this.$emit('continue')
      } else {
        this.showErrorMessage = true
        console.log('nich so valide alter')
      }
    },
    async createBooking() {
      const formData = this.getCheckfrontMappedData()
      await this.$store.dispatch('cart/createBooking', formData)
    },
    checkCheckoutLabels() {
      if (
        !this.checkoutLabels.findOutAboutUsLabelId ||
        !this.checkoutLabels.wantsToKnowMoreLabelId ||
        !this.checkoutLabels.extraInfoLabelId
      )
        throw new Error(
          "Checkfront connection doesn't provide needed checkout labels."
        )
    },
    getCheckfrontMappedData() {
      this.checkCheckoutLabels()
      return [
        {
          key: 'customer_name',
          value: this.$refs.one.value
        },
        {
          key: 'customer_email',
          value: this.$refs.two.value
        },
        {
          key: 'customer_address',
          value: this.$refs.three.value
        },
        {
          key: 'customer_postal_zip',
          value: this.$refs.four.value
        },
        {
          key: 'customer_city',
          value: this.$refs.five.value
        },
        {
          key: 'customer_phone',
          value: this.$refs.six.value
        },
        {
          key: this.checkoutLabels.findOutAboutUsLabelId,
          value: this.$refs.note.value
        },
        {
          key: this.checkoutLabels.wantsToKnowMoreLabelId,
          value: this.wantsToKnowMore ? 1 : 0
        },
        {
          key: this.checkoutLabels.extraInfoLabelId,
          value: this.$refs.extraInfo.value
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/variables';
.button {
  background-color: $primary;
  color: white;
}
</style>
