<template>
  <div>
    <!--TODO grade Palceholder, Design hierfür fehlt-->
    <TwoColorButton
      button-icon="ok"
      snippet="back"
      button-color="dark"
      class="is-pulled-right module-spacer-bottom"
      :to="localePath('index')"
    />
  </div>
</template>

<script>
const TwoColorButton = () => import('../TwoColorButton')
export default {
  name: 'CheckoutSuccessful',
  components: { TwoColorButton }
}
</script>

<style scoped lang="scss"></style>
