<template>
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <p
        v-snippet="gateway.dialogText"
        class="column is-full has-bottom-margin-30"
      />
      <button
        v-snippet="'cancel'"
        class="column is-5 button is-light"
        @click="$emit('cancel')"
      />
      <button
        v-snippet="gateway.dialogButtonText"
        class="column is-5 is-offset-2 button is-primary"
        @click="$emit('confirm', gateway)"
      />
    </div>
  </div>
</template>

<script>
import SnippetMixin from '../../utils/mixins/SnippetMixin'

export default {
  name: 'ConfirmationDialog',
  mixins: [SnippetMixin],
  props: {
    gateway: {
      type: Object,
      required: true
    }
  },
  computed: {
    gate() {
      return this.tSnippet(this.gateway.label)
    }
  }
}
</script>

<style scoped>
.button {
  padding: 4px !important;
}
</style>
