<template>
  <div class="box is-paddingless">
    <div class="columns is-mobile is-paddingless is-marginless is-multiline">
      <div class="column is-half has-text-left has-text-weight-bold">
        {{ name }}
      </div>
      <div
        v-snippet="'name'"
        class="column is-half has-text-right has-text-dark"
      />
      <hr class="column is-full" />
    </div>
    <div class="columns is-mobile is-paddingless is-marginless is-multiline">
      <div class="column is-half has-text-left has-text-weight-bold">
        {{ address }}
      </div>
      <div
        v-snippet="'shipping'"
        class="column is-half has-text-right has-text-dark"
      />
      <hr class="column is-full" />
    </div>
    <div class="columns is-mobile is-paddingless is-marginless is-multiline">
      <div class="column is-half has-text-left has-text-weight-bold">
        {{ payment }}
      </div>
      <div
        v-snippet="'payment'"
        class="column is-half has-text-right has-text-dark"
      />
      <hr class="column is-full" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'InfoBox',
  props: {
    name: {
      type: String,
      default: ''
    },
    address: {
      type: String,
      default: ''
    },
    payment: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.box {
  border-radius: 2px !important;
  margin-bottom: 20px !important;
}
.has-text-right {
  font-size: x-small;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid whitesmoke;
  margin: 0;
  padding: 0;
}
</style>
