<template>
  <div>
    <navigation-bar />
    <nuxt class="nuxt-container" />
    <Footer v-if="showDelayedContent" />
  </div>
</template>

<style lang="scss">
@import '../assets/scss/variables';
html {
  nav {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 1.2rem 1.2rem;
  }
  .nuxt-container {
    padding-top: $navigation-height;
  }
}
</style>
<script>
import { interopDefault } from '../.nuxt/utils'
const Footer = () => interopDefault(import('../components/Footer'))
const NavigationBar = () => import('../components/NavigationBar')
export default {
  components: { Footer, NavigationBar },
  data() {
    return {
      showDelayedContent: false
    }
  },
  mounted() {
    if (!window) return
    window.scrollTo(0, 0)
    window.setTimeout(() => {
      this.showDelayedContent = true
    }, 1000)
    window.setTimeout(() => {
      window.zESettings = {
        webWidget: {
          color: {
            theme: '#e84f41'
          },
          position: { horizontal: 'right', vertical: 'bottom' }
        }
      }
      this.loadZendeskWidget()
    }, 1000)
  },
  methods: {
    loadZendeskWidget() {
      const script = document.createElement('script')
      script.type = 'text/javascript'
      script.id = 'ze-snippet'
      script.async = true
      script.src =
        'https://static.zdassets.com/ekr/snippet.js?key=c413fbd3-fb2b-47c9-bbec-b9d643419158'
      document.getElementsByTagName('head')[0].appendChild(script)
    }
  }
}
</script>
