<template>
  <checkout-frame :step="4" title="thank_you">
    <p
      v-snippet="{
        identifier: 'payment_success',
        replacements: {
          bookingId,
          price: totalDescription
        }
      }"
      class="has-top-padding-40"
    />
    <div class="has-top-padding-60 columns">
      <nuxt-link
        v-snippet="'back_to_home'"
        :to="to"
        class="column button is-full is-primary is-rounded is-uppercase is-pulled-right has-padding-sides"
      />
    </div>
  </checkout-frame>
</template>

<script>
import CityPageMixin from '../../../../utils/mixins/CityPageMixin'
import CurrencyHelper from '../../../../utils/helper/CurrencyHelper'
const CheckoutFrame = () => import('../../../../components/CheckoutFrame')
export default {
  name: 'Success',
  components: { CheckoutFrame },
  mixins: [CityPageMixin],
  computed: {
    bookingId() {
      return this.$route.query.booking_id
    },
    total() {
      return this.$route.query.total
    },
    totalDescription() {
      return CurrencyHelper.currencyFormatDE(parseFloat(this.total))
    },
    to() {
      return this.localePath(this.pathForCity(this.citySlug))
    }
  }
}
</script>

<style scoped>
.button {
  padding-top: 6px;
}
</style>
