<template>
  <client-only>
    <Overlay>
      <template v-slot:above>
        <HeroImageSmall :image="location" class="is-small-hero-image " />
      </template>
      <template>
        <div class="columns is-multiline is-marginless is-mobile">
          <div
            class="column is-half-desktop is-offset-one-quarter-desktop is-full-height is-paddingless is-centered"
          >
            <TitleSubtitle
              :title="location.name"
              :subtitle="category"
              :use-as-text="true"
              class="has-padding-sides module-spacer-bottom module-spacer-top "
            />
            <div
              v-styledsnippet="location.description"
              class="has-padding-sides"
            />

            <div class="columns is-mobile is-centered module-spacer-top">
              <div class="column is-half">
                <SocialIcons
                  :social-links="location.representations"
                  class="has-padding-sides"
                  color="black"
                />
              </div>
            </div>
          </div>
        </div>
      </template>
    </Overlay>
  </client-only>
</template>

<script>
import { mapGetters } from 'vuex'
import SnippetMixin from '../../../../utils/mixins/SnippetMixin'
import query from '../../../../apollo/queries/locations.graphql'
import SEOMixin from '../../../../utils/mixins/SEOMixin'
const Overlay = () => import('../../../../components/Overlay')
const TitleSubtitle = () => import('../../../../components/TitleSubtitle')
const SocialIcons = () => import('../../../../components/SocialIcons')
const HeroImageSmall = () => import('../../../../components/HeroImageSmall')

export default {
  name: 'Name',
  components: {
    HeroImageSmall,
    SocialIcons,
    TitleSubtitle,
    Overlay
  },
  mixins: [SnippetMixin, SEOMixin],
  computed: {
    location() {
      return this.findLocationForSlug(
        this.$route.params.name,
        this.city,
        this.locations
      )
    },
    city() {
      return this.findCityForSlug(this.cities, this.$route.params.city)
    },
    category() {
      if (!this.location || !this.location.category) return ''
      const category = this.categories.find(
        (cat) => cat.id === this.location.category.id
      )
      if (!category) return ''
      return this.tForSnippet(category.name)
    },
    ...mapGetters({
      cities: 'city/get',
      categories: 'category/get'
    })
  },
  apollo: {
    locations: {
      query,
      variables() {
        return {
          where: {
            state_eq: 'enabled',
            city_eq: this.city.id
          }
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
.is-full-height {
  height: 90vh;
}
.is-at-bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
</style>
