<template>
  <div>
    <HeroImageSmall
      image-identifier="restaurants"
      class="is-small-hero-image "
    />
    <ResponsiveFrame>
      <TitleSubtitle
        :title="{
          identifier: 'restaurants_title',
          replacements: { city: cityName }
        }"
        subtitle="restaurants_subtitle"
        class="has-padding-sides module-spacer-bottom module-spacer-top"
      />
      <!--<div
        class="columns is-multiline is-marginless is-mobile has-padding-sides"
      >
        <LocationCategory
          v-for="category in usedCategories"
          :key="category.id"
          :category="category"
          class="column is-one-fifth-mobile"
        />
      </div>-->
      <LocationCardCollection
        :locations="randomizedLocations"
        :city="city"
        class="has-padding-sides module-spacer-bottom"
      />
      <SingleButtonSection
        title="something_missing"
        subtitle="something_missing_subtitle"
        button-snippet="contact"
        button-link="contact"
      />
    </ResponsiveFrame>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import CityPageMixin from '../../../../utils/mixins/CityPageMixin'
import SnippetMixin from '../../../../utils/mixins/SnippetMixin'
import query from '../../../../apollo/queries/locations.graphql'
import SEOMixin from '../../../../utils/mixins/SEOMixin'

// import LocationCategory from '../../../../components/LocationCategory'
const TitleSubtitle = () => import('../../../../components/TitleSubtitle')
const SingleButtonSection = () =>
  import('../../../../components/SingleButtonSection')
const HeroImageSmall = () => import('../../../../components/HeroImageSmall')
const LocationCardCollection = () =>
  import('../../../../components/LocationCardCollection')
const ResponsiveFrame = () => import('../../../../components/ResponsiveFrame')

const LodashFactory = {
  create: () => {
    return new Promise((resolve) => {
      import('lodash').then((lib) => {
        resolve(lib)
      })
    })
  }
}

export default {
  name: 'Index',
  components: {
    ResponsiveFrame,
    // LocationCategory,
    LocationCardCollection,
    HeroImageSmall,
    SingleButtonSection,
    TitleSubtitle
  },
  mixins: [SnippetMixin, CityPageMixin, SEOMixin],
  data() {
    return {
      randomizedLocations: [],
      usedCategories: []
    }
  },
  computed: {
    ...mapGetters({
      categories: 'category/get'
    })
  },
  watch: {
    async locations() {
      this.randomizedLocations = await this.getRandomizedLocations()
      this.usedCategories = await this.getUsedCategories()
    }
  },
  methods: {
    async getRandomizedLocations() {
      const _ = await LodashFactory.create()
      if (!this.locations) return []
      const cloned = _.cloneDeep(this.locations).map((location) => {
        return {
          ...location,
          randomId: _.random(1024)
        }
      })
      return _.sortBy(cloned, ['randomId'])
    },
    async getUsedCategories() {
      const _ = await LodashFactory.create()
      if (!this.locations) return []
      if (!this.categories) return []
      return _.uniqBy(
        _.map(_.filter(this.locations, 'category'), 'category'),
        'id'
      ).map(({ id }) => this.categories.find((category) => category.id === id))
    }
  },
  apollo: {
    locations: {
      query,
      variables() {
        return {
          where: {
            state_eq: 'enabled',
            city_eq: this.city.id
          }
        }
      }
    }
  }
}
</script>

<style scoped></style>
