<template>
  <checkout-frame title="shipping" :step="0">
    <CheckoutShipping @continue="onContinue" />
  </checkout-frame>
</template>

<script>
import CartMixin from '../../../../../utils/mixins/CartMixin'
import CityPageMixin from '../../../../../utils/mixins/CityPageMixin'
import { interopDefault } from '../../../../../.nuxt/utils'
const CheckoutShipping = () =>
  interopDefault(import('../../../../../components/checkout/CheckoutShipping'))
const CheckoutFrame = () =>
  interopDefault(import('../../../../../components/CheckoutFrame'))
export default {
  name: 'SessionId',
  components: {
    CheckoutFrame,
    CheckoutShipping
  },
  mixins: [CartMixin, CityPageMixin],
  mounted() {
    this.$nextTick(async () => {
      if (!this.booking) {
        await this.fetchBookingSession()
      }
    })
  },
  methods: {
    onContinue() {
      if (!this.bookingId) return
      const path = this.localePath({
        name: 'cities-city-checkout-gateway-bookingId',
        params: { city: this.$route.params.city, bookingId: this.bookingId }
      })
      this.$router.push(path)
    }
  }
}
</script>

<style scoped></style>
