<template>
  <checkout-frame title="payment_method" :step="1">
    <confirmation-dialog
      v-if="confirmationDialogGateway"
      :gateway="confirmationDialogGateway"
      @cancel="confirmationDialogGateway = null"
      @confirm="onDialogConfirm()"
    />
    <div v-else class="container">
      <div
        v-for="gateway in gateways"
        :key="gateway.id"
        class="columns is-mobile has-bottom-padding-20"
      >
        <checkout-gateway
          :gateway="gateway.label"
          class="column is-full"
          @click.native="onGatewayChosen(gateway)"
        />
      </div>
    </div>
  </checkout-frame>
</template>

<script>
import PaymentHelper, {
  PAYMENT_GATEWAY
} from '../../../../../utils/helper/PaymentHelper'
import CartMixin from '../../../../../utils/mixins/CartMixin'
import CityPageMixin from '../../../../../utils/mixins/CityPageMixin'
import { interopDefault } from '../../../../../.nuxt/utils'
import SnippetMixin from '../../../../../utils/mixins/SnippetMixin'
const ConfirmationDialog = () =>
  interopDefault(
    import('../../../../../components/checkout/ConfirmationDialog')
  )
const CheckoutGateway = () =>
  interopDefault(import('../../../../../components/checkout/CheckoutGateway'))
const CheckoutFrame = () =>
  interopDefault(import('../../../../../components/CheckoutFrame'))
export default {
  name: 'BookingId',
  components: { ConfirmationDialog, CheckoutFrame, CheckoutGateway },
  mixins: [CartMixin, CityPageMixin, SnippetMixin],
  data() {
    return {
      confirmationDialogGateway: null,
      gateways: [
        {
          label: 'credit_card',
          id: PAYMENT_GATEWAY.CREDIT_CARD
        },
        {
          label: 'paypal',
          id: PAYMENT_GATEWAY.PAYPAL
        },
        {
          label: 'gift_voucher',
          id: PAYMENT_GATEWAY.GIFT_CERT,
          hasConfirmationDialog: true,
          dialogText: {
            identifier: 'gift_voucher_confirmation_dialog'
          },
          dialogButtonText: 'confirm_redirect'
        },
        {
          label: 'invoice',
          id: PAYMENT_GATEWAY.INVOICE,
          hasConfirmationDialog: true,
          dialogText: {
            identifier: 'payment_confirmation_dialog',
            replacements: {
              gate: this.tSnippet('invoice')
            }
          },
          dialogButtonText: 'book_with_costs'
        }
      ]
    }
  },
  mounted() {
    this.mountedBookingIdPage()
  },
  methods: {
    onDialogConfirm() {
      const { id, label } = this.confirmationDialogGateway
      this.onGatewayChosen({ id, label })
      this.confirmationDialogGateway = null
    },
    onGatewayChosen(gateway) {
      if (gateway.hasConfirmationDialog) {
        this.confirmationDialogGateway = gateway
        return
      }
      const { id } = gateway
      this.continue(id)
    },
    continue(gatewayId) {
      if (!this.bookingId) return
      if (gatewayId === PAYMENT_GATEWAY.GIFT_CERT) {
        this.redirectToPaymentPage(this.bookingId)
        return
      }
      const path = this.localePath({
        name: 'cities-city-checkout-payment-bookingId',
        params: {
          city: this.$route.params.city,
          bookingId: this.$route.params.bookingId
        },
        query: {
          gateway: gatewayId
        }
      })
      this.$router.push(path)
    },
    redirectToPaymentPage(bookingId, gatewayId) {
      const url = PaymentHelper.getPaymentUrl({
        bookingId,
        host: this.host,
        token: this.booking.token,
        gateway: gatewayId
      })
      window.location.replace(url)
    }
  }
}
</script>

<style scoped></style>
