<template>
  <main-page-content
    icon-title="quick_facts_title"
    icon-subtitle="quick_facts_subtitle"
    facts-page="home"
    :image="city"
    :product="product"
  >
    <template v-slot:header>
      <next-tour
        :city="city"
        :next-date="nextDate"
        :product="product"
        :should-show-empty-state="isMonthBookedOut"
      />
    </template>
    <template v-slot:upperContent>
      <div
        class="column is-half-desktop is-offset-one-quarter-desktop is-full-mobile"
      >
        <calendar
          :city-id="parseInt(city.id)"
          :article-id="articleId"
          class="is-half-desktop is-offset-one-quarter-desktop is-full-mobile has-top-padding-40"
          @calendar-change="onCalendarChange"
        />
        <div class="columns is-multiline other-tours-container">
          <p
            v-snippet="'choose_other_tour_description'"
            class="column is-full is-size-6"
          />
          <base-dropdown
            :options="dropdownOptions"
            label-snipped-identifier="more_tours"
          />
        </div>
      </div>
    </template>
  </main-page-content>
</template>

<script>
import MainPageContent from '../../../../../components/MainPageContent'
import SnippetMixin from '../../../../../utils/mixins/SnippetMixin'
import CityPageMixin from '../../../../../utils/mixins/CityPageMixin'
import SEOMixin from '../../../../../utils/mixins/SEOMixin'
import ProductMixin from '../../../../../utils/mixins/ProductMixin'
import query from '../../../../../apollo/queries/products.graphql'
import BaseDropdown from '../../../../../components/BaseDropdown'
import ProductHelper from '../../../../../utils/helper/ProductHelper'
const Calendar = () => import('../../../../../components/Calendar')
const NextTour = () => import('../../../../../components/NextTour')

export default {
  name: 'IndexVue',
  components: {
    BaseDropdown,
    Calendar,
    NextTour,
    MainPageContent
  },
  mixins: [SnippetMixin, CityPageMixin, SEOMixin, ProductMixin],
  data() {
    return {
      nextDate: null,
      product: null,
      hasFirstCalenderChangeFired: false
    }
  },
  computed: {
    articleId() {
      return this.product
        ? this.getArticleConnectionForProduct(this.product).articleId
        : null
    },
    isMonthBookedOut() {
      return this.hasFirstCalenderChangeFired && !this.nextDate
    },
    dropdownOptions() {
      return this.products
        .map((product) => {
          if (this.product) {
            if (this.product.id === product.id) return null
          }
          const productSlug = this.getSlug(product, 'name')
          const to = ProductHelper.getProductLink(
            this,
            this.citySlug,
            productSlug
          )
          return {
            to,
            ...product
          }
        })
        .filter((product) => !!product)
    }
  },
  apollo: {
    products: { query }
  },
  mounted() {
    if (!this.products) return
    this.product = this.findProductFromRoute(this.products)
  },
  methods: {
    onCalendarChange({ nextDate }) {
      this.hasFirstCalenderChangeFired = true
      this.nextDate = nextDate
    }
  }
}
</script>

<style scoped>
.other-tours-container {
  padding-top: 40px !important;
}
</style>
