<template>
  <div>
    <hero-image-small image-identifier="about" class="is-small-hero-image " />
    <responsive-frame>
      <title-subtitle
        title="about"
        subtitle="about_subtitle"
        class="has-padding-sides module-spacer-bottom module-spacer-top"
      />
      <p
        v-styledsnippet="'about_content'"
        class="has-padding-sides hyphens module-spacer-bottom"
      />
      <title-subtitle
        title="our_office"
        subtitle="our_office_subtitle"
        class="has-padding-sides module-spacer-bottom"
      />
      <team-member-card-section
        class="has-padding-sides"
        :members="teammembers"
      />
      <single-button-section
        title="get_in_touch"
        subtitle="get_in_touch_subtext"
        button-snippet="contact"
        button-link="contact"
      />
    </responsive-frame>
  </div>
</template>

<script>
import query from '../apollo/queries/teammembers.graphql'
const TitleSubtitle = () => import('./TitleSubtitle')
const SingleButtonSection = () => import('./SingleButtonSection')
const TeamMemberCardSection = () => import('./TeamMemberCardSection')
const HeroImageSmall = () => import('./HeroImageSmall')
const ResponsiveFrame = () => import('./ResponsiveFrame')

export default {
  name: 'AboutContent',
  components: {
    ResponsiveFrame,
    HeroImageSmall,
    SingleButtonSection,
    TeamMemberCardSection,
    TitleSubtitle
  },
  apollo: {
    teammembers: { query }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';

.hyphens {
  hyphens: auto;
  text-align: justify;
}
</style>
