<template>
  <div>
    <client-only>
      <bulma-accordion dropdown icon="plus-minus">
        <bulma-accordion-item v-for="item in faqItems" :key="item.id">
          <h4 slot="title" v-snippetobject="item.title" />
          <div slot="content" class="has-padding-10">
            <p v-styledsnippet="item.content" />
          </div>
        </bulma-accordion-item>
      </bulma-accordion>
    </client-only>
  </div>
</template>
<script>
import { BulmaAccordion, BulmaAccordionItem } from 'vue-bulma-accordion'

export default {
  name: 'Accordion',
  components: process.server ? {} : { BulmaAccordion, BulmaAccordionItem },
  props: {
    faqItems: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
.accordion-body {
  height: 0px;
  overflow: hidden;
}
.caret-down {
  transform: rotate(180deg);
}
.header-icon {
  /*width: 100%;*/
}
.horizontal,
.vertical {
  position: absolute;
  border-radius: 3px;
  background: rgb(100, 100, 100);
  transform: rotate(0deg);
  transition: 400ms all ease-out;
}
.horizontal {
  top: 45%;
  left: 10%;
  right: 10%;
  height: 10%;
}
.vertical {
  top: 10%;
  bottom: 10%;
  left: 45%;
  width: 10%;
}
.vertical-rotated {
  transform: rotate(90deg);
}
.plus-minus {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.card-header-title {
  width: 85%;
  h4 {
    font-weight: 700 !important;
  }
}
.card-header-icon {
  width: 10%;
}
.card-header {
  display: flex;
}
.card-active {
  -webkit-box-shadow: 0px -1px 17px -1px rgba(10, 10, 10, 0.1);
  -moz-box-shadow: 0px -1px 17px -1px rgba(10, 10, 10, 0.1);
  box-shadow: 0px -1px 17px -1px rgba(10, 10, 10, 0.1);
  .card-header {
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
  }
}
</style>
