<template>
  <overlay>
    <template v-slot:above>
      <hero-image-small
        :image="{ image: { url: imageUrl } }"
        class="is-small-hero-image "
      />
    </template>
    <template>
      <div class="columns is-multiline is-marginless is-mobile">
        <div
          class="column is-half-desktop is-offset-one-quarter-desktop is-full-height is-paddingless is-centered"
        >
          <title-subtitle
            :title="tForSnippet(title)"
            :subtitle="tForSnippet(subtitle)"
            :use-as-text="true"
            class="has-padding-sides module-spacer-bottom module-spacer-top "
          />
          <div v-styledsnippet="content" class="has-padding-sides" />

          <div class="columns is-mobile is-centered module-spacer-top">
            <div class="column is-half">
              <slot>
                <button
                  v-snippet="'back'"
                  class="button is-primary is-paddingless is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
                  @click="$router.go(-1)"
                />
              </slot>
            </div>
          </div>
        </div>
      </div>
    </template>
  </overlay>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'
import { interopDefault } from '../.nuxt/utils'
const Overlay = () => interopDefault(import('./Overlay'))
const HeroImageSmall = () => interopDefault(import('./HeroImageSmall'))
const TitleSubtitle = () => interopDefault(import('./TitleSubtitle'))
export default {
  name: 'ArticleLayout',
  components: { TitleSubtitle, HeroImageSmall, Overlay },
  mixins: [SnippetMixin],
  props: {
    imageUrl: {
      type: String,
      required: true
    },
    title: {
      type: Object,
      required: true
    },
    subtitle: {
      type: Object,
      required: true
    },
    content: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
ul {
  list-style: disc;
}
</style>
