<template>
  <base-card-collection>
    <article-card
      v-for="article in articles"
      :key="article.name"
      :title="article.title"
      :subtitle="article.subtitle"
      :image-url="article.imageUrl"
      :to="article.to"
      class="column is-two-thirds-mobile is-half-desktop"
    />
  </base-card-collection>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const BaseCardCollection = () => interopDefault(import('./BaseCardCollection'))
const ArticleCard = () => interopDefault(import('./ArticleCard'))

export default {
  name: 'ArticleCardCollection',
  components: { BaseCardCollection, ArticleCard },
  props: {
    articles: {
      type: Array,
      required: true
    }
  }
}
</script>
