<template>
  <base-card :to="to" :image-url="imageUrl">
    <TitleSubtitle
      :title="title"
      :subtitle="subtitle"
      :use-as-text="true"
      :is-large="false"
      class="has-bottom-alignment has-bottom-padding-10 has-left-padding-10"
    />
  </base-card>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
import BaseCard from './BaseCard'

const TitleSubtitle = () => interopDefault(import('./TitleSubtitle'))
export default {
  name: 'ArticleCard',
  components: { BaseCard, TitleSubtitle },
  props: {
    imageUrl: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    to: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped>
.has-bottom-alignment {
  position: absolute;
  bottom: 10px;
}
.clickable {
  cursor: pointer;
}
</style>
