<template>
  <base-card-section :title="title" :subtitle="subtitle" :button="button">
    <article-card-collection :articles="articles" />
  </base-card-section>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const BaseCardSection = () => interopDefault(import('./BaseCardSection'))
const ArticleCardCollection = () =>
  interopDefault(import('./ArticleCardCollection'))

export default {
  name: 'ArticleCardSection',
  components: {
    BaseCardSection,
    ArticleCardCollection
  },
  props: {
    articles: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      default: 'tour_cards_title'
    },
    subtitle: {
      type: String,
      default: 'tour_cards_subtitle'
    },
    button: {
      type: Object,
      default() {
        return {
          snippet: 'custom_tours_title',
          link: 'tours-custom'
        }
      }
    }
  }
}
</script>
