<template>
  <div class="columns" :class="orientationClass">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'BaseCardCollection',
  props: {
    isVerticallyOnMobileDevice: {
      type: Boolean,
      default: false
    },
    isHorizontallyOnDesktop: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    orientationClass() {
      return this.$device.isMobile
        ? this.isVerticallyOnMobileDevice
          ? ''
          : 'is-mobile floating-card'
        : this.isHorizontallyOnDesktop
        ? ''
        : 'is-multiline'
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';

.floating-card {
  @media screen and (max-width: $tablet) {
    overflow: auto;
  }
  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
  }
}
</style>
