<template>
  <div class="columns is-mobile is-marginless background no-hover is-primary">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">
      <div class="columns hero is-marginless is-mobile no-padding-sides">
        <div class="column hero-body no-padding-sides">
          <title-subtitle
            v-if="title"
            class="module-spacer-bottom"
            :title="title"
            :subtitle="subtitle"
            :is-large="true"
            :is-light="true"
          />
          <slot />
          <div v-if="button" class="columns is-mobile has-top-margin-20">
            <outlined-button
              :snippet="button.snippet"
              :link="button.link"
              class="is-light column is-half is-offset-one-quarter"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const TitleSubtitle = () => interopDefault(import('./TitleSubtitle'))
const OutlinedButton = () => interopDefault(import('./OutlinedButton'))
export default {
  name: 'BaseCardSection',
  components: { TitleSubtitle, OutlinedButton },
  props: {
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      default() {
        return null
      }
    },
    button: {
      type: Object,
      default() {
        return null
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
@import './../assets/scss/variables';
@media screen and (max-width: $tablet) {
  .no-padding-sides {
    padding-right: 0;
    padding-left: 0;
  }
}

.has-top-margin-20 {
  margin-top: 20px !important;
}

.background {
  background-image: $background-url !important;
  position: center;

  @media screen and (min-width: $tablet) {
    background-size: 29% 50%;
    background-repeat: repeat;
  }
}
</style>
