<template>
  <div class="container">
    <div v-if="isActive" class="menu-closer" @click="toggle()" />
    <div
      :class="{ 'is-active': isActive }"
      class="dropdown columns is-mobile is-marginless"
    >
      <button
        class="columns is-mobile is-vcentered box is-light has-padding-top-0 is-marginless is-paddingless"
        aria-haspopup="true"
        :aria-controls="menuId"
        @click="toggle()"
      >
        <slot name="label">
          <p
            v-snippet="labelSnippedIdentifier"
            class="column is-full has-text-centered is-size-6"
          />
        </slot>
      </button>
      <div :id="menuId" class="dropdown-menu" role="menu">
        <div class="columns is-mobile is-marginless">
          <div
            class="dropdown-content has-text-centered column is-10-mobile is-offset-1-mobile"
          >
            <slot name="options">
              <nuxt-link
                v-for="option in options"
                :key="option.id"
                v-snippetobject="option.name"
                :to="option.to"
                class="has-text-black has-text-centered link dropdown-item"
              />
            </slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ActiveToggleMixin from '../utils/mixins/ActiveToggleMixin'

export default {
  name: 'BaseDropdown',
  mixins: [ActiveToggleMixin],
  props: {
    options: {
      type: Array,
      default() {
        return []
      }
    },
    labelSnippedIdentifier: {
      type: String,
      default: 'choose_an_option'
    }
  },
  data() {
    return {
      menuId: ('' + Math.random() * 1000000).replace('.', '')
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
.has-padding-top-0 {
  padding-top: 0 !important;
}
.menu-closer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10;
  height: 2000px;
}
.box {
  width: 100%;
  color: black;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 17px;
}
.dropdown-menu {
  width: 100%;
  padding-top: 0 !important;
  /* margin-top: -10px !important; */
}
@media screen and (max-width: $tablet) {
  .dropdown-menu {
    width: 90%;
    margin-left: 5%;
  }
}
</style>
