<template>
  <div :class="isClickable ? 'clickable' : ''" @click="onClick">
    <div v-lazy:background-image="imageUrl" class="card-image">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseCard',
  props: {
    imageUrl: {
      type: String,
      default: ''
    },
    to: {
      type: String,
      default: null
    },
    shouldEmitClick: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isClickable() {
      return !!this.to || this.shouldEmitClick
    }
  },
  methods: {
    onClick() {
      if (this.to) this.$router.push(this.to)
      else if (this.shouldEmitClick) this.$emit('on-click')
    }
  }
}
</script>

<style scoped>
.card-image {
  background: no-repeat center;
  background-size: cover;
  border-radius: 10px;
  height: 300px;
}
</style>
