<template>
  <div class="is-white no-hover">
    <client-only>
      <v-calendar
        :min-date="new Date()"
        is-expanded
        :from-page="fromPage"
        :attributes="calAttributes"
        @update:to-page="onCalendarUpdate"
        @dayclick="onDayClick"
      >
        <div slot="day-popover" slot-scope="{ day, format, masks, attributes }">
          <div class="text-xs text-gray-300 font-semibold text-center">
            <p class="has-text-black has-text-weight-bold">
              {{ format(day.date, masks.dayPopover) }}
            </p>
            <ul v-for="{ key, customData } in attributes" :key="key">
              <li
                v-for="timeSlot in customData.timeSlots"
                :key="timeSlot.start_time"
              >
                {{ getTimeSlotDescription(timeSlot) }}
              </li>
              <li
                v-if="
                  !customData.timeSlots || customData.timeSlots.length === 0
                "
              >
                {{ tSnippet('booked_out') }}
              </li>
            </ul>
          </div>
        </div>
      </v-calendar>
    </client-only>
    <div class="has-padding-sides columns is-mobile is-marginless">
      <div class="column is-one-third is-paddingless ">
        <div class="dot is-dark is-inline-block" />
        <div v-snippet="'booked_out'" class="is-inline-block" />
      </div>
      <div class="column is-one-third is-paddingless">
        <div class="dot is-success is-inline-block" />
        <div v-snippet="'free_seats'" class="is-inline-block" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import TourFetchMixin from '../utils/mixins/TourFetchMixin'
import SnippetMixin from '../utils/mixins/SnippetMixin'
import TourMixin from '../utils/mixins/TourMixin'
import TourHelper, { TourHelperFactory } from '../utils/helper/TourHelper'
import { interopDefault } from '../.nuxt/utils'
const VCalendar = () =>
  interopDefault(import('v-calendar/lib/components/calendar.umd'))

export default {
  name: 'Calendar',
  components: process.server ? {} : { VCalendar },
  mixins: [TourFetchMixin, SnippetMixin, TourMixin],
  props: {
    articleId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      calAttributes: [],
      isInitialFetch: true,
      hasToursData: true // TODO: show no data view
    }
  },
  computed: {
    ...mapGetters({
      storeMonth: 'calendar/getMonth',
      storeYear: 'calendar/getYear'
    }),
    fromPage() {
      if (this.storeMonth && this.storeYear) {
        return {
          month: this.storeMonth,
          year: this.storeYear
        }
      }
      return null
    },
    currentMonthCalendar() {
      if (!this.fromPage) return null
      const combined = `${this.fromPage.year}-${this.fromPage.month}`
      return this.calendar.find((monthCalendar) => {
        if (monthCalendar.length === 0) return false
        const { month } = monthCalendar[0]
        return month === combined
      })
    }
  },
  watch: {
    async calendar() {
      this.calAttributes = await this.calendarAttributes()
    }
  },
  async mounted() {
    this.calAttributes = await this.calendarAttributes()
  },
  methods: {
    calendarAttributes() {
      if (!this.currentMonthCalendar || !this.articleId) return []
      const datesWithTours = this.currentMonthCalendar.filter(
        (day) => day.state !== 'empty'
      )
      return datesWithTours.map((day) => {
        return {
          dates: day.date,
          bar: {
            color: day.state === 'available' ? 'green' : 'red'
          },
          popover: {
            label: 'test'
          },
          customData: day
        }
      })
    },
    async onCalendarUpdate(page) {
      this.$store.commit('calendar/update', page)
      try {
        await this.fetch(page)
        await this.emitChange(page)
      } catch (e) {
        this.handleFetchError(e)
      }
    },
    async fetch(page) {
      if (!this.articleId) return
      if (this.isInitialFetch) {
        this.isInitialFetch = false
        await this.fetchCurrentMonthFromPage(page, this.cityId, this.articleId)
      }
      await this.fetchNextMonthFromPage(page, this.cityId, this.articleId)
      await this.fetchPreviousMonthFromPage(page, this.cityId, this.articleId)
    },
    handleFetchError(e) {
      if (e.response && e.response.status === 400) {
        this.hasToursData = false
        return
      }
      throw e
    },
    getTimeSlotDescription(timeSlot) {
      let snippet = ''
      if (timeSlot.A === 0) {
        snippet = this.tSnippet('booked_out')
      } else {
        snippet = this.tSnippet('number_tickets_left', {
          ticketsLeft: timeSlot.A
        })
      }
      return `${timeSlot.start_time}: ${snippet}`
    },
    async emitChange(page) {
      if (!this.articleId) return
      this.$emit('calendar-change', {
        nextDate: await this.getNextDateWithTour(page)
      })
    },
    getNextDateWithTour(page) {
      const datesWithTours = this.currentMonthCalendar
        .filter((day) => day.state === 'available')
        .sort((left, right) => left.dateKey - right.dateKey)
      if (!datesWithTours && datesWithTours.length === 0) return null
      return datesWithTours[0]
    },
    async onDayClick(day) {
      const tourHelper = await TourHelperFactory.create(this.$i18n)
      const datesWithTours = await this.datesWithTours()
      const nextDate = tourHelper.findDateForCalendarDay(day, datesWithTours)
      if (!nextDate || !TourHelper.hasAvailableStock(nextDate)) return
      this.$emit('calendar-change', {
        nextDate
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';
.column {
  font-size: x-small;
}
.dot {
  height: 7px;
  width: 20px;
  border-radius: 10%;
  &.is-success {
    background-color: $success;
  }
  &.is-dark {
    background-color: $dark;
  }
}
</style>

<style lang="scss">
@import '../assets/scss/variables';
.vc-bg-green-600,
.vc-bg-green-500 {
  background-color: $success !important;
}
.vc-bg-red-600,
.vc-bg-red-500 {
  background-color: $dark !important;
}
.vc-popover-content {
  background-color: white !important;
}
</style>
