<template>
  <div class="columns is-mobile has-text-centered is-marginless">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">
      <div class="columns">
        <div
          class="column has-text-centered has-text-centered-mobile is-4 is-marginless has-no-side-padding"
        >
          <p v-snippet="'more_questions'" />
        </div>
        <div
          class="column has-text-centered has-text-centered-mobile is-4 is-marginless has-no-side-padding"
        >
          <b v-if="$device.isMobile">
            <a v-snippet="'phone_number'" :href="phoneLink" />
          </b>
          <b v-else v-snippet="'phone_number'" />
        </div>
        <div
          class="column has-text-centered has-text-centered-mobile is-4 is-marginless has-no-side-padding"
        >
          <b>
            <a
              id="contactButton"
              :href="`mailto:${getGeneralEmail()}`"
              rel="noopener"
              >{{ getGeneralEmail() }}
            </a>
          </b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'
import KeyValueMixin from '../utils/mixins/KeyValueMixin'
import { interopDefault } from '../.nuxt/utils'

const Swal = () => interopDefault(import('sweetalert2'))

export default {
  name: 'CallToActionContact',
  mixins: [SnippetMixin, KeyValueMixin],
  computed: {
    phoneLink() {
      const fullNumber = `${this.tSnippet('phone_code')}${this.tSnippet(
        'phone_number'
      )}`.replace(/\s/g, '')
      return `tel:${fullNumber}`
    }
  },
  mounted() {
    if (this.$device.isDesktop) {
      this.initializeEmailHandlingCheck()
    }
  },
  methods: {
    getGeneralEmail() {
      return this.getValueForKey('email_general_support')
    },
    initializeEmailHandlingCheck() {
      document.getElementById('contactButton').onclick = () => {
        this.checkEmailHandling()
      }
    },
    checkEmailHandling() {
      let focusHasShifted = false
      window.onblur = () => {
        focusHasShifted = true
      }
      window.setTimeout(() => {
        if (!focusHasShifted) {
          this.showEmailHandlingAlert()
        }
        window.onblur = null
      }, 500)
    },
    async showEmailHandlingAlert() {
      const swal = await Swal()
      const text = this.tSnippet('contact_email', {
        email: this.cityEmail ? this.cityEmail : this.getGeneralEmail()
      })
      swal.fire({
        text,
        confirmButtonColor: '#e84f41'
      })
    }
  }
}
</script>
