<template>
  <div class="container">
    <div class="columns is-mobile is-marginless is-vcentered">
      <div class="column color-bar" :class="link ? 'color-bar-long' : ''" />
      <DateTimeSection
        :is-loading="isLoading"
        :date="date"
        :time="time"
        class="column is-3"
      />
      <div class="is-divider-vertical" />
      <ProductCitySection
        :product-name="item ? item.name : ''"
        :city="city"
        :available-seats="availableSeats"
        :is-loading="isLoading"
        class="column is-8"
      />
      <div class="column is-1 is-paddingless">
        <figure class="image is-16x16">
          <tt-svg
            name="down"
            :width="20"
            :height="20"
            class="is-inline is-pulled-right"
          />
        </figure>
      </div>
    </div>
    <div v-if="link" class="columns is-mobile is-centered">
      <two-color-link
        :to="link"
        button-color="red"
        button-icon="clock"
        snippet="choose_time"
      />
    </div>
  </div>
</template>

<script>
import MomentHelper, { MomentHelperFactory } from '../utils/helper/MomentHelper'
import { interopDefault } from '../.nuxt/utils'
import SnippetMixin from '../utils/mixins/SnippetMixin'
const TwoColorLink = () => interopDefault(import('./TwoColorLink'))
const DateTimeSection = () => interopDefault(import('./DateTimeSection'))
const ProductCitySection = () => interopDefault(import('./ProductCitySection'))
const TtSvg = () => interopDefault(import('./TtSvg'))
export default {
  name: 'CardItemHeader',
  components: { TwoColorLink, TtSvg, ProductCitySection, DateTimeSection },
  mixins: [SnippetMixin],
  props: {
    isLoading: {
      type: Boolean,
      default: true
    },
    city: {
      type: Object,
      default() {
        return null
      }
    },
    timeSlot: {
      type: Object,
      default() {
        return null
      }
    },
    duration: {
      type: Number,
      required: true
    },
    item: {
      type: Object,
      default() {
        return null
      }
    },
    link: {
      type: String,
      default: null
    },
    mode: {
      type: String,
      default: 'fullMode',
      validator: (value) => ['fullMode', 'dateMode'].includes(value)
    },
    timeSlots: {
      type: Array,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      date: null,
      time: null
    }
  },
  computed: {
    availableSeats() {
      if (this.availableTimeSlots) {
        return this.availableTimeSlots.map(({ A }) => '' + A).join(', ')
      }
      return !this.timeSlot ? '0' : '' + this.timeSlot.A
    },
    availableTimeSlots() {
      return this.timeSlots ? this.timeSlots.filter(({ A }) => A > 0) : null
    }
  },
  watch: {
    async timeSlot(newValue) {
      if (!newValue) return
      this.time = await this.getTime()
      this.date = await this.getDate()
    },
    async timeSlots(newValue) {
      if (!newValue) return
      this.time = await this.getTime()
      this.date = await this.getDate()
    }
  },
  async mounted() {
    if (this.mode === 'dateMode') {
      this.time = this.tSnippet('duration_hours', {
        duration: this.duration
      })
      this.date = this.getStartTime()
    } else {
      this.time = await this.getTime()
      this.date = await this.getDate()
    }
  },
  methods: {
    async getMoment() {
      if (!this.timeSlot && !this.availableTimeSlots) return null
      const momentHelper = await MomentHelperFactory.create(this.$i18n)
      const slot =
        this.availableTimeSlots && this.availableTimeSlots.length > 0
          ? this.availableTimeSlots[0]
          : this.timeSlot
      return momentHelper.getMomentFromTimeSlot(slot)
    },
    async getDate() {
      const moment = await this.getMoment()
      if (!moment) return null
      return MomentHelper.getCityPickerFormattedString(moment)
    },
    async getTime() {
      if (!this.timeSlot && !this.timeSlots) return null
      const momentHelper = await MomentHelperFactory.create(this.$i18n)
      if (this.availableTimeSlots) {
        return this.availableTimeSlots
          .map((slot) =>
            momentHelper.getTourTimeDescription(slot, this.duration)
          )
          .join(', ')
      }
      return momentHelper.getTourTimeDescription(this.timeSlot, this.duration)
    },
    getStartTime() {
      if (!this.timeSlot) return null
      return this.timeSlot.start_time
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';
.color-bar {
  background-color: $primary;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 0;
  padding-left: 5px;
  &.color-bar-long {
    height: 70px;
    margin-bottom: 0;
  }
}
figure.image {
  transform: rotate(270deg);
}
.is-divider-vertical {
  padding-left: 0;
  padding-right: 0;
  /*padding-top: 56px;*/
}
</style>
