<template>
  <div>
    <div class="box is-paddingless">
      <div @click="onClick()">
        <CardItemHeader
          :item="sessionItem"
          :time-slot="mappedTimeSlot"
          :city="city"
          :is-loading="false"
          :duration="4"
        />
      </div>
      <div
        class="has-padding-sides has-background-light card-body"
        :class="{ hidden: isHidden }"
      >
        <b v-snippet="'guests'" />: {{ selectedTickets }} <br />
        <div class="is-inline-block">
          <b v-snippet="'price'" class="is-inline-block" />:
          {{ singlePrice }} €/
          <p v-snippet="'per_person'" class="is-inline-block" />
          <p
            v-if="hasDiscount"
            v-snippet="'minus_discount'"
            class="is-inline-block"
          />
        </div>
        <br />
        <b v-snippet="'date'" />: {{ date }} <br />
        <b v-snippet="'time'" />: {{ time }} <br />
        <hr />
        <div v-if="hasDiscount && isOnlyItem">
          <b v-snippet="'total'" />:
          <s class="is-inline-block">
            <b> {{ totalPrice }} €</b>
          </s>
          <b class="is-inline-block has-text-success">
            {{ totalBookingPrice }}
          </b>
        </div>
        <div v-else>
          <b v-snippet="'total'" />: <b>{{ totalPrice }} €</b>
          <p
            v-if="hasDiscount"
            v-snippet="'minus_discount'"
            class="is-inline-block"
          />
        </div>

        <div class="columns is-mobile has-top-padding-30 has-bottom-padding-30">
          <!--TODO: readd this, when editing works -->
          <!--<two-color-link
            class="column is-half padding-left"
            button-color="dark"
            snippet="edit"
            button-icon="edit"
            :to="localeHomePath()"
          />-->
          <two-color-button
            class="column is-half is-offset-half padding-right"
            button-color="red"
            snippet="delete"
            button-icon="exit"
            @click.native="onRemoveItemClick()"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CartItemMixin from '../utils/mixins/CartItemMixin'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import { interopDefault } from '../.nuxt/utils'
const TwoColorButton = () => interopDefault(import('./TwoColorButton'))
const anime = () => interopDefault(import('animejs/lib/anime.es.js'))
const CardItemHeader = () => interopDefault(import('./CardItemHeader'))

export default {
  name: 'CartItem',
  components: { TwoColorButton, CardItemHeader },
  mixins: [CartItemMixin, CityPageMixin],
  props: {
    isHidden: {
      type: Boolean,
      default: true
    },
    hasDiscount: {
      type: Boolean,
      default: false
    },
    isOnlyItem: {
      type: Boolean,
      default: false
    },
    totalBookingPrice: {
      type: String,
      default() {
        return ''
      }
    }
  },
  data() {
    return {
      date: null,
      time: null
    }
  },
  watch: {
    async sessionItem() {
      await this.calculateDateTimeDescriptions()
    }
  },
  async mounted() {
    await this.calculateDateTimeDescriptions()
  },
  methods: {
    async calculateDateTimeDescriptions() {
      this.date = await this.getDate()
      this.time = await this.getTime()
    },
    onClick() {
      const targets = this.$el.querySelector('.card-body')
      // TODO: hier keine feste Höhe rein, sondern anders?
      const height = this.isHidden ? 230 : 0
      anime({
        targets,
        height
      })
      this.$emit('header-click')
      this.isHidden = !this.isHidden
    },
    onRemoveItemClick() {
      this.$emit('remove-item', this.sessionItem)
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';

.hidden {
  height: 0;
}
.box {
  color: black !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  overflow: hidden;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.cart-item-body {
  background-color: $light;
}
</style>
