<template>
  <Overlay>
    <ResponsiveFrame>
      <div class="has-padding-sides module-spacer-top">
        <TitleSubtitle :title="title" class="module-spacer-bottom" />
        <ProgressBar :active-state="step" class="has-bottom-padding-20" />
        <slot />
      </div>
    </ResponsiveFrame>
  </Overlay>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const Overlay = () => interopDefault(import('./Overlay'))
const ResponsiveFrame = () => interopDefault(import('./ResponsiveFrame'))
const TitleSubtitle = () => interopDefault(import('./TitleSubtitle'))
const ProgressBar = () => interopDefault(import('./ProgressBar'))
export default {
  name: 'CheckoutFrame',
  components: { ProgressBar, TitleSubtitle, ResponsiveFrame, Overlay },
  props: {
    title: {
      type: String,
      required: true
    },
    step: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style scoped></style>
