<template>
  <div class="container">
    <div v-if="isActive" class="menu-closer" @click="toggle()" />
    <div
      :class="{ 'is-active': isActive }"
      class="dropdown columns is-mobile is-marginless"
    >
      <div
        class="dropdown-trigger column is-one-third-desktop is-offset-one-third-desktop is-10-mobile is-offset-1-mobile "
      >
        <button
          class="columns is-mobile is-vcentered box is-light has-padding-top-0 is-marginless is-paddingless"
          aria-haspopup="true"
          aria-controls="city-picker-menu"
          @click="toggle()"
        >
          <div class="column is-1">
            <figure class="image is-16x16">
              <TtSvg
                name="home"
                :width="16"
                :height="16"
                class="is-paddingless"
              />
            </figure>
          </div>
          <h1
            v-if="!citySlug"
            v-snippet="'choose_city_long'"
            class="column is-10 is-size-5 has-text-left has-top-padding-14"
          />
          <h1 v-else class="is-inline-block">{{ cityName }}</h1>
          <div class="column is-1 is-paddingless">
            <figure class="image is-16x16">
              <TtSvg
                name="down"
                :class="{ rotate180Degree: isActive }"
                :width="16"
                :height="16"
                class="is-paddingless"
              />
            </figure>
          </div>
        </button>
      </div>
      <div id="city-picker-menu" class="dropdown-menu" role="menu">
        <div class="columns is-mobile is-marginless">
          <div
            class="dropdown-content has-text-centered column is-10-mobile is-offset-1-mobile"
          >
            <nuxt-link
              v-for="city in cities"
              :key="city.id"
              :to="getPathForCity(city)"
              class="has-text-black has-text-centered link dropdown-item"
            >
              {{ getNameForCity(city) }}
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'
import cities from '../apollo/queries/cities.graphql'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import ActiveToggleMixin from '../utils/mixins/ActiveToggleMixin'
import CityRouteParameterMixin from '../utils/mixins/CityRouteParameterMixin'
import { interopDefault } from '../.nuxt/utils'
const TtSvg = () => interopDefault(import('./TtSvg'))

export default {
  name: 'CityPicker',
  components: { TtSvg },
  mixins: [
    SnippetMixin,
    CityRouteParameterMixin,
    CityPageMixin,
    ActiveToggleMixin
  ],
  apollo: {
    cities: {
      query: cities
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  padding-top: 10px;
}
.dropdown-icon {
  padding-top: 15px;
}
.has-padding-top-0 {
  padding-top: 0 !important;
}
.box {
  width: 100%;
  color: black;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 17px;
}
.menu-closer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: -10;
  height: 2000px;
}
.dropdown-menu {
  width: 40%;
  margin-left: 30%;
  padding-top: 0px !important;
  margin-top: -10px !important;
}
@media screen and (max-width: $tablet) {
  .dropdown-menu {
    width: 90%;
    margin-left: 5%;
  }
}
.has-top-padding-14 {
  padding-top: 14px;
}
</style>
