<template>
  <div>
    <img v-lazy="imageData" />
    <div v-if="blurImage" class="gradient" />
  </div>
</template>

<script>
import ImageMixin from '../utils/mixins/ImageMixin'

export default {
  name: 'CmsImage',
  mixins: [ImageMixin],
  props: {
    image: {
      type: Object,
      default: null
    },
    blurImage: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      imageData: null
    }
  },
  async mounted() {
    this.imageData = await this.getImage(this.imageOptions)
  },
  methods: {
    getImageObject() {
      return this.image
    }
  }
}
</script>

<style scoped>
.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), white) !important;
}
</style>
