<template>
  <div>
    <hero-image-small image-identifier="contact" class="is-small-hero-image" />
    <responsive-frame>
      <title-subtitle
        title="contact"
        subtitle="contact_subtitle"
        class="has-padding-sides module-spacer-bottom module-spacer-top"
      />
      <p v-styledsnippet="'contact_faq'" class="has-padding-sides hyphens" />
      <section class="columns is-mobile module-spacer-bottom">
        <a
          :href="'/faq'"
          class="column primary-button button is-rounded is-uppercase has-text-weight-bold is-outlined is-10 is-offset-1 is-mobile-text-small has-top-margin-30"
          >{{ tSnippet('faq') }}
        </a>
      </section>
      <p
        v-styledsnippet="'contact_content'"
        class="has-padding-sides hyphens"
      />
      <section class="columns is-mobile">
        <a
          class="column primary-button button is-rounded is-uppercase has-text-weight-bold is-outlined is-10 is-offset-1 is-mobile-text-small has-top-margin-30"
          @click="onClick()"
          >{{ tSnippet('contact') }}
        </a>
      </section>
      <section class="hero background columns is-marginless">
        <div class="hero-body column">
          <div class="container">
            <TitleSubtitle title="follow_us" subtitle="follow_us_subtitle" />
          </div>
          <div class="columns is-mobile has-top-padding-20 is-vcentered">
            <social-icons
              color="black"
              :social-links="socialLinks"
              class="column is-full social-icons is-centered"
            />
          </div>
        </div>
      </section>
    </responsive-frame>
  </div>
</template>

<script>
import KeyValueMixin from '../utils/mixins/KeyValueMixin'
import SocialLinksMixin from '../utils/mixins/SocialLinksMixin'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import SnippetMixin from '../utils/mixins/SnippetMixin'
import HeroImageSmall from './HeroImageSmall'
import ResponsiveFrame from './ResponsiveFrame'
import TitleSubtitle from './TitleSubtitle'
import SocialIcons from './SocialIcons'

export default {
  name: 'ContactContent',
  components: { SocialIcons, TitleSubtitle, ResponsiveFrame, HeroImageSmall },
  mixins: [KeyValueMixin, SocialLinksMixin, CityPageMixin, SnippetMixin],
  methods: {
    onClick() {
      window.zE.activate()
    }
  }
}
</script>

<style scoped lang="scss">
@import './../assets/scss/variables.scss';
.social-icons {
  padding-top: 15px;
}
.button {
  padding-bottom: 30px;
}
.primary-button {
  &:hover {
    color: $white !important;
    background-color: $primary !important;
    border-color: $primary !important;
  }
  &:focus,
  &:not(:hover) {
    background-color: $white !important;
    color: $primary !important;
    border-color: $primary !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
</style>
