<template>
  <article-layout
    :title="tour.title"
    :subtitle="tour.subtitle"
    :content="tour.description"
    :image-url="tour.image.url"
  >
    <div class="columns is-mobile">
      <p v-snippet="'custom_tour_request'" class="column is-full" />
    </div>
    <div class="columns is-mobile has-bottom-padding-40">
      <button
        v-snippet="'contact'"
        class="column button is-paddingless is-full is-primary is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
      />
    </div>
    <div class="columns is-mobile has-top-margin-30">
      <button
        v-snippet="'back'"
        class="column button is-paddingless is-primary is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
        @click="$router.go(-1)"
      />
    </div>
  </article-layout>
</template>

<script>
import query from '../apollo/queries/customtours.graphql'
import SnippetMixin from '../utils/mixins/SnippetMixin'
const ArticleLayout = () => import('../components/ArticleLayout')
export default {
  name: 'CustomToursDetailContent',
  components: { ArticleLayout },
  mixins: [SnippetMixin],
  computed: {
    tour() {
      return this.findObjectForSlug(
        this.$route.params.name,
        this.customtours,
        'title'
      )
    }
  },
  apollo: {
    customtours: {
      query
    }
  }
}
</script>

<style scoped></style>
