<template>
  <div>
    <HeroImageSmall
      image-identifier="custom_tours"
      class="is-small-hero-image "
    />
    <ResponsiveFrame>
      <TitleSubtitle
        title="custom_tours_title"
        subtitle="custom_tours_subtitle"
        class="module-spacer-top"
      />
      <p v-styledsnippet="'customtour_content'" class="hyphens" />
      <div class="columns is-multiline is-marginless is-mobile is-multiline">
        <icontext-section
          title="quick_facts_title_custom_tours"
          subtitle="quick_facts_subtitle_custom_tours"
          facts-page="tours_custom"
          class="column"
        />
      </div>
      <SingleButtonSection
        title="custom_tour_request"
        subtitle="custom_tour_request_content"
        button-snippet="request"
        button-link="contact"
      />
    </ResponsiveFrame>
  </div>
</template>

<script>
const HeroImageSmall = () => import('./HeroImageSmall')
const TitleSubtitle = () => import('./TitleSubtitle')
const SingleButtonSection = () => import('./SingleButtonSection')
const ResponsiveFrame = () => import('./ResponsiveFrame')
const IcontextSection = () => import('./IconTextSection')
export default {
  name: 'CustomToursContent',
  components: {
    ResponsiveFrame,
    SingleButtonSection,
    TitleSubtitle,
    HeroImageSmall,
    IcontextSection
  }
}
</script>

<style scoped></style>
