<template>
  <div class="container">
    <div class="date has-text-weight-bold is-size-5 is-size-6-mobile">
      {{ isLoading ? '...' : date }}
    </div>
    <div class="time">
      {{ isLoading ? '...' : time }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'DateTimeSection',
  props: {
    isLoading: {
      type: Boolean,
      required: true
    },
    date: {
      type: String,
      default: ''
    },
    time: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';
.date {
  font-size: 1.3rem;
  color: $primary;
  border-right: $light 1px solid;
}
.time {
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 0.7rem;
  border-right: $light 1px solid;
  color: $dark;
}
</style>
