<template>
  <div>
    <HeroImageSmall image-identifier="faq" class="is-small-hero-image" />
    <ResponsiveFrame>
      <TitleSubtitle
        title="faq"
        subtitle="good_to_know"
        class="has-padding-sides module-spacer-bottom module-spacer-top"
      />
      <Accordion
        class="has-padding-sides module-spacer-bottom"
        :faq-items="faqitems"
      />
    </ResponsiveFrame>
  </div>
</template>

<script>
import query from '../apollo/queries/faqitems.graphql'
const Accordion = () => import('./Accordion')
const TitleSubtitle = () => import('./TitleSubtitle')
const HeroImageSmall = () => import('./HeroImageSmall')
const ResponsiveFrame = () => import('./ResponsiveFrame')
export default {
  name: 'FaqContent',
  components: {
    ResponsiveFrame,
    HeroImageSmall,
    Accordion,
    TitleSubtitle
  },
  apollo: {
    faqitems: { query }
  }
}
</script>

<style scoped></style>
