<template>
  <footer>
    <div class="has-background-light">
      <CallToActionContact class="is-light" />
    </div>
    <div class="columns is-marginless is-mobile has-background-black">
      <div class="column is-one-third">
        <TasteToursLogo :is-light-logo="true" />
      </div>
      <div class="column is-two-third has-text-white">
        <LinkFooterSection />
      </div>
    </div>
    <div
      class="columns is-mobile is-paddingless is-marginless has-background-white is-centered"
    >
      <SocialIcons
        :social-links="socialLinks"
        class="column is-full social-icons is-centered"
      />
    </div>
  </footer>
</template>
<script>
import KeyValueMixin from '../utils/mixins/KeyValueMixin'
import SocialLinksMixin from '../utils/mixins/SocialLinksMixin'
import { interopDefault } from '../.nuxt/utils'
const CallToActionContact = () =>
  interopDefault(import('./CallToActionContact'))
const TasteToursLogo = () => interopDefault(import('./TasteToursLogo'))
const LinkFooterSection = () => interopDefault(import('./LinkFooterSection'))
const SocialIcons = () => interopDefault(import('./SocialIcons'))

export default {
  name: 'Footer',
  components: {
    SocialIcons,
    LinkFooterSection,
    TasteToursLogo,
    CallToActionContact
  },
  mixins: [KeyValueMixin, SocialLinksMixin]
}
</script>

<style scoped lang="scss">
.social-icons {
  padding-top: 15px;
}
</style>
