<template>
  <section>
    <h6 v-snippet="subtitle" class="subtitle has-text-dark has-text-centered" />
    <hero-title :title="title" class="is-relative z-title has-text-centered" />
    <figure
      class="image is-relative"
      :class="$device.isMobile ? 'is-1by1' : 'is-3by1'"
    >
      <cms-image
        :image="image"
        :identifier="imageIdentifier"
        :width="width"
        :height="height"
        :blur-image="blurImage"
      />
    </figure>
    <div class="is-relative" :class="$slots.default ? 'alignment' : ''">
      <slot />
    </div>
  </section>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const HeroTitle = () => interopDefault(import('./HeroTitle'))
const CmsImage = () => interopDefault(import('./CmsImage'))

export default {
  name: 'HeroSection',
  components: { CmsImage, HeroTitle },
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    imageIdentifier: {
      type: String,
      default: 'placeholder'
    },
    image: {
      type: Object,
      default: null
    },
    blurImage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    height() {
      return this.$device.isMobile ? 600 : 400
    },
    width() {
      return this.$device.isMobile ? 600 : 1200
    }
  }
}
</script>

<style scoped lang="scss">
section {
  .alignment {
    margin-top: -42px;
    margin-bottom: -42px;
    z-index: 2;
  }
  .z-title {
    z-index: 2;
  }
  .image {
    z-index: 1;
    &.is-3by1 {
      margin-top: -45px; //50 is half of the line
    }
    &.is-1by1 {
      margin-top: -33px; //38 is half of the line
    }
  }
}
</style>
