<template>
  <section class="hero is-white is-large">
    <figure
      class="image is-relative"
      :class="$device.isMobile ? 'is-1by1' : 'is-3by1'"
    >
      <cms-image
        :image="image"
        :identifier="imageIdentifier"
        :height="height"
        :width="width"
      />
    </figure>
  </section>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const CmsImage = () => interopDefault(import('./CmsImage'))

export default {
  name: 'HeroImageSmall',
  components: { CmsImage },
  props: {
    imageIdentifier: {
      type: String,
      default: null
    },
    image: {
      type: Object,
      default: null
    }
  },
  computed: {
    height() {
      return this.$device.isMobile ? 600 : 400
    },
    width() {
      return this.$device.isMobile ? 600 : 1200
    }
  }
}
</script>
