<template>
  <h1 v-snippet="title" class="title" />
</template>

<script>
export default {
  name: 'HeroTitle',
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables.scss';
h1 {
  @media screen and (max-width: $tablet) {
    font-size: 28px !important;
  }
  @media screen and (min-width: $tablet) {
    font-size: 50px !important;
  }
  letter-spacing: -0.27px !important;
  text-transform: uppercase !important;
  color: black !important;
}
</style>
