<template>
  <div class="columns">
    <large-link
      v-for="link in showableLinks"
      :key="link.snippet"
      :to="localePath(link.to)"
      :snippet="link.snippet"
      :disabled="!link.isActive()"
      :disabled-message="link.notActiveMessage"
      :show-disabled-message="false"
      :smaller-size="true"
      class="column"
    />
    <nuxt-link :to="cartLink" class="column">
      <tt-svg
        name="cart"
        :width="24"
        :height="24"
        :color-identifier="isCartFilled ? 'black' : 'lightgray'"
      />
    </nuxt-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { interopDefault } from '../.nuxt/utils'
import MenuMixin from '../utils/mixins/MenuMixin'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import PathHelper from '../utils/helper/PathHelper'

const LargeLink = () => interopDefault(import('./LargeLink'))
const TtSvg = () => import('./TtSvg')

export default {
  name: 'HorizontalMenu',
  components: {
    LargeLink,
    TtSvg
  },
  mixins: [CityPageMixin, MenuMixin],
  computed: {
    showableLinks() {
      const cartPosition = this.sortedLinks.findIndex((link) => {
        return link.snippet === 'cart'
      })
      return this.sortedLinks.slice(0, cartPosition)
    },
    cartLink() {
      return this.isCartFilled
        ? PathHelper.getCartLink(this, this.booking, this.citySlug)
        : ''
    },
    ...mapGetters({
      isCartFilled: 'cart/isCartFilled',
      booking: 'cart/getBooking'
    })
  }
}
</script>

<style scoped />
