<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <TitleSubtitle
          :title="title"
          :subtitle="subtitle"
          :is-light="alternateColoring"
          class="has-bottom-padding-30"
        />
        <IconText
          v-for="fact in facts"
          :key="fact.icon"
          :fact="fact"
          class="has-bottom-padding-10"
        />
      </div>
    </div>
  </section>
</template>

<script>
import query from '../apollo/queries/iconfacts.graphql'
import SnippetMixin from '../utils/mixins/SnippetMixin'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import IconText from './SingleIconText'
import TitleSubtitle from './TitleSubtitle'

export default {
  name: 'IcontextSection',
  components: { IconText, TitleSubtitle },
  mixins: [SnippetMixin, CityPageMixin],
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    factsPage: {
      type: String,
      required: true
    },
    alternateColoring: {
      type: Boolean,
      default: false
    },
    product: {
      type: Object,
      default: null
    }
  },
  computed: {
    facts() {
      if (this.product) {
        return this.getSortedAndMappedFactsArray(this.product.iconfacts)
      }
      if (this.factsPage === 'home' && this.city) {
        return this.getSortedAndMappedFactsArray(this.city.iconfacts)
      }
      return this.iconfacts
    }
  },
  methods: {
    getSortedAndMappedFactsArray(iconfacts) {
      const cloned = JSON.parse(JSON.stringify(iconfacts))
      return cloned
        .sort((left, right) => left.order - right.order)
        .map((fact) => {
          return {
            text: {
              de: fact.de,
              en: fact.en
            },
            ...fact
          }
        })
    }
  },
  apollo: {
    iconfacts: {
      query,
      variables() {
        return {
          where: {
            state_eq: 'enabled',
            page_eq: this.factsPage
          }
        }
      }
    }
  }
}
</script>

<style scoped lang="scss"></style>
