<template>
  <div>
    <client-only>
      <div v-swiper:carousel="swiperOption">
        <div class="swiper-wrapper">
          <figure
            v-for="image in images"
            :key="image.number"
            class="swiper-slide image"
            :class="imageHeight"
          >
            <img v-lazy="image.imageUrl" />
          </figure>
        </div>
        <div class="swiper-pagination" />
      </div>
    </client-only>
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      swiperOption: {
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    }
  },
  computed: {
    imageHeight() {
      if (this.$device.isMobile) {
        // TODO: hier eventuell wieder is-square eintragen statt 16by9 und 16by9 statt 3by1
        return 'is-16by9'
      } else {
        return 'is-2by1'
      }
    }
  }
}
</script>

<style scoped>
img {
  object-fit: cover;
}
</style>

<style lang="scss">
@import '~swiper/dist/css/swiper';
.swiper-pagination-bullet {
  border: 1px solid white !important;
  background: transparent !important;
  opacity: unset !important;
}

.swiper-slide {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: white !important;
}
.swiper-container {
  overflow-y: hidden;
}
.swiper-pagination {
  margin-left: 46%;
  margin-top: -30px;
}
</style>
