<template>
  <div class="field">
    <div class="control has-icons-left">
      <input
        v-model="$v.input.$model"
        type="text"
        class="input"
        :placeholder="
          tSnippet(placeholder) + `${inputType !== 'optional-text' ? '*' : ''}`
        "
        @input="delayTouch($v.input)"
      />
      <span class="icon is-small is-left">
        <i class="fa" :class="'fa-' + icon" />
      </span>
    </div>
    <p v-if="showErrorMessage" v-snippet="warningText" class="help is-danger" />
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
import SnippetMixin from '../utils/mixins/SnippetMixin'
import ValidationHelper from '../utils/helper/ValidationHelper'

const touchMap = new WeakMap()
const phoneNumber = (value) => ValidationHelper.isValidPhoneNumber(value)

export default {
  name: 'InputField',
  mixins: [validationMixin, SnippetMixin],
  props: {
    inputType: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    warningText: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      input: '',
      validInput: false
    }
  },
  validations() {
    if (this.inputType === 'email') {
      return {
        input: {
          required,
          email
        }
      }
    } else if (this.inputType === 'phone') {
      return {
        input: {
          required,
          phoneNumber,
          minLength: minLength(5)
        }
      }
    } else if (this.inputType === 'optional-text') {
      return {
        input: {
          required: false
        }
      }
    } else {
      return {
        input: {
          required
        }
      }
    }
  },
  computed: {
    showErrorMessage() {
      return this.$v.input.$anyError
    },
    isValid() {
      return !this.$v.input.$anyError && this.$v.input.$anyDirty
    },
    value() {
      return this.$v.input.$model
    }
  },
  methods: {
    delayTouch($v) {
      $v.$reset()
      if (touchMap.has($v)) {
        clearTimeout(touchMap.get($v))
      }
      touchMap.set($v, setTimeout($v.$touch, 1000))
    }
  }
}
</script>

<style scoped>
.input {
  color: black !important;
}
</style>
