<template>
  <client-only>
    <article-layout
      :title="job.title"
      :subtitle="job.subtitle"
      :content="job.description"
      :image-url="job.image.url"
    />
  </client-only>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'
import jobsQuery from '../apollo/queries/jobs.graphql'
import addressesQuery from '../apollo/queries/addresses.graphql'
const ArticleLayout = () => import('./ArticleLayout')
export default {
  name: 'JobDetailContent',
  components: {
    ArticleLayout
  },
  mixins: [SnippetMixin],
  computed: {
    job() {
      return this.findObjectForSlug(this.$route.params.job, this.jobs, 'title')
    },
    jobJson() {
      return {
        '@context': 'https://schema.org',
        '@type': 'JobPosting',
        title: this.tForSnippet(this.job.title),
        description: this.tForSnippet(this.job.description),
        validThrough: '9999-12-31',
        datePosted: new Date(this.job.datePosted),
        hiringOrganization: {
          '@type': 'Organization',
          name: 'Taste Tours UG',
          logo:
            'https://storage.googleapis.com/checkfront-rogue.appspot.com/accounts/cf-86199/images/2019/small-ney-try-1549632769557.png?alt=media&generation=1549632774906802',
          sameAs: 'http://www.tastetours.de'
        },
        jobLocation: this.jobLocationJSON,
        employmentType: this.job.employmentType,
        baseSalary: {
          '@type': 'MonetaryAmount',
          currency: 'EUR',
          value: {
            '@type': 'QuantitativeValue',
            value: this.job.salary,
            unitText: 'MONTH'
          }
        }
      }
    },
    jobLocationJSON() {
      return this.job.cities.map((city) => {
        const matchingAddress = this.addresses.find(
          (address) => address.city.id === city.id
        )
        return {
          '@type': 'Place',
          address: {
            '@type': 'PostalAddress',
            addressLocality: this.tForSnippet(city.name),
            streetAddress: matchingAddress.streetAddress,
            addressCountry: matchingAddress.country,
            postalCode: matchingAddress.postalCode
          }
        }
      })
    }
  },
  head() {
    return {
      __dangerouslyDisableSanitizers: ['script'],
      script: [
        {
          innerHTML: JSON.stringify(this.jobJson),
          type: 'application/ld+json'
        }
      ]
    }
  },
  apollo: {
    jobs: {
      query: jobsQuery
    },
    addresses: {
      query: addressesQuery
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
.is-full-height {
  height: 90vh;
}
.is-at-bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}
</style>
