<template>
  <div>
    <HeroImageSmall image-identifier="jobs" class="is-small-hero-image " />
    <div
      class="columns is-multiline is-marginless is-mobile has-top-padding-60"
    >
      <TitleSubtitle
        title="jobs"
        subtitle="jobs_subtitle"
        class="column is-full-mobile is-half-desktop is-offset-one-quarter-desktop module-spacer-bottom"
      />
      <p
        v-styledsnippet="'jobs_intro'"
        class="column is-full-mobile is-half-desktop is-offset-one-quarter-desktop module-spacer-bottom"
      />
      <jobs-city-dropdown
        :labels="filterLabels"
        class="column is-full-mobile is-half-desktop is-offset-one-quarter-desktop module-spacer-bottom"
        @selection="citySelected"
      />
      <article-card-section
        :articles="filteredJobs"
        :button="null"
        :title="filteredJobs.length === 0 ? 'no_vacancies' : ''"
        :subtitle="''"
        class="column is-full-mobile is-full-desktop is-marginless is-paddingless"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SnippetMixin from '../utils/mixins/SnippetMixin'
import query from '../apollo/queries/jobs.graphql'
import SnippetHelper from '../utils/helper/SnippetHelper'
import CityPageMixin from '../utils/mixins/CityPageMixin'
const JobsCityDropdown = () => import('./JobsCityDropdown')
const TitleSubtitle = () => import('./TitleSubtitle')
const HeroImageSmall = () => import('./HeroImageSmall')
const ArticleCardSection = () => import('./ArticleCardSection')

export default {
  name: 'JobsContent',
  components: {
    JobsCityDropdown,
    ArticleCardSection,
    HeroImageSmall,
    TitleSubtitle
  },
  mixins: [SnippetMixin, CityPageMixin],
  apollo: {
    jobs: { query }
  },
  data() {
    return {
      selectedFilterId: null,
      filteredJobs: []
    }
  },
  computed: {
    ...mapGetters({
      cities: 'city/get'
    }),
    mappedJobs() {
      if (!this.jobs) return []
      return this.jobs.map((job) => {
        return {
          ...job,
          to: this.getPathForJob(job, this.citySlug),
          title: this.tForSnippet(job.title),
          name: this.tForSnippet(job.title),
          subtitle: this.tForSnippet(job.subtitle),
          imageUrl: job.image.url
        }
      })
    },
    cityIdsThatHaveJobs() {
      const ids = new Set()
      this.mappedJobs.forEach((job) => {
        if (job.cities.length > 0) {
          job.cities.forEach((city) => {
            ids.add(city.id)
          })
        } else {
          ids.add(null)
        }
      })
      return ids
    },
    citiesThatHaveJobs() {
      return this.cities.filter(({ id }) => this.cityIdsThatHaveJobs.has(id))
    },
    filterLabels() {
      const labels = []
      const snippet = SnippetHelper.findSnippet(this, 'all_cities')
      const id = 'all'
      labels.push({
        snippet,
        id,
        isSelected: this.isSelected(id)
      })
      this.citiesThatHaveJobs.forEach((city) => {
        const id = city.id
        labels.push({
          id,
          snippet: city.name,
          isSelected: this.isSelected(id)
        })
      })
      return labels
    }
  },
  watch: {
    mappedJobs() {
      this.updateJobs()
    }
  },
  mounted() {
    this.selectedFilterId = 'all'
    this.updateJobs()
  },
  methods: {
    isSelected(id) {
      return this.selectedFilterId === id
    },
    updateJobs() {
      this.filterJobs()
      this.$nextTick(() => {
        this.$forceUpdate()
      })
    },
    filterJobs() {
      if (this.selectedFilterId === 'all') {
        this.filteredJobs = this.mappedJobs
      } else {
        this.filteredJobs = this.mappedJobs.filter((job) => {
          return job.cities.some((city) => {
            return this.isSelected(city.id)
          })
        })
      }
    },
    citySelected(id) {
      this.selectedFilterId = id
      this.updateJobs()
    }
  }
}
</script>

<style lang="scss">
@import './../assets/scss/variables.scss';
.is-narrow {
  margin: 10px 4px !important;
}
.h6-column {
  padding-bottom: 0 !important;
}
</style>
