<template>
  <div>
    <div v-if="isActive" class="menu-closer" @click="toggle()" />
    <div class="columns is-mobile">
      <h4
        v-snippet="'filter_by_city'"
        class="title is-uppercase has-text-weight-bold is-mobile-text-medium column is-half"
      />
      <div
        :class="{ 'is-active': isActive }"
        class="column is-narrow dropdown is-marginless is-paddingless is-half"
      >
        <div class="dropdown-trigger">
          <button
            class="button level is-white is-small"
            aria-haspopup="true"
            aria-controls="city-dropdown-menu"
            @click="toggle()"
          >
            <div class="columns">
              <div class="column is-paddingless dropdown-arrow">
                <tt-svg name="down-single" :height="16" :width="16" />
              </div>
              <div class="column is-paddingless">
                <p v-snippetobject="currentSelection.snippet" />
              </div>
            </div>
          </button>
        </div>
        <div id="city-dropdown-menu" class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a
              v-for="label in labels"
              :key="label.id"
              v-snippetobject="label.snippet"
              class="dropdown-item"
              @click="onButtonClick(label)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const TtSvg = () => import('./TtSvg')

export default {
  name: 'JobsCityDropdown',
  components: { TtSvg },
  props: {
    labels: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      isActive: false,
      currentSelection: null
    }
  },
  created() {
    this.currentSelection = this.labels[0]
  },
  methods: {
    onButtonClick(label) {
      this.currentSelection = label
      this.$emit('selection', label.id)
      this.toggle()
    },
    toggle() {
      this.isActive = !this.isActive
    }
  }
}
</script>

<style scoped>
.menu-closer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: -10;
  height: 2000px;
}
.dropdown-arrow {
  margin-right: 1em;
}
h4 {
  hyphens: auto;
  letter-spacing: -0.27px !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
}
.is-mobile-text-medium {
  font-size: 17px !important;
}
</style>
