<template>
  <div>
    <div
      class="has-padding-10 logo-like has-left-margin-20 has-right-margin-20"
    >
      <h1 v-snippet="'known_by'" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'KnownByStartLabel'
}
</script>

<style scoped>
.logo-like {
  height: 64px;
  width: 64px;
  padding-left: 0;
}
h1 {
  white-space: nowrap;
  font-size: 0.9rem;
  padding-top: 14px;
}
</style>
