<template>
  <base-card-collection
    class="card-collection"
    :class="$device.isMobile ? '' : 'is-centered'"
  >
    <known-by-start-label />
    <known-by-logo v-for="item in knownbyitems" :key="item.name" :item="item" />
  </base-card-collection>
</template>

<script>
import query from '../apollo/queries/knownbyitems.graphql'
import { interopDefault } from '../.nuxt/utils'
const KnownByStartLabel = () => interopDefault(import('./KnownByStartLabel'))
const BaseCardCollection = () => interopDefault(import('./BaseCardCollection'))
const KnownByLogo = () => interopDefault(import('./KnownByLogo'))

export default {
  name: 'KnownBySectionVue',
  components: { KnownByStartLabel, BaseCardCollection, KnownByLogo },
  apollo: {
    knownbyitems: { query }
  }
}
</script>

<style scoped lang="scss">
@import './../assets/scss/variables';

.card-collection {
  margin-top: 32px !important;
  background-color: $light;
  padding-bottom: 8px;
}
</style>
