<template>
  <div>
    <div class="media has-padding-10 has-left-margin-10 has-right-margin-10">
      <figure class="media-content">
        <p class="image is-48x48">
          <a
            :href="item.link"
            target="_blank"
            rel="noopener"
            class="is-paddingless is-marginless"
          >
            <tt-img
              :url="item.image.url"
              :size="$device.isMobile ? 96 : 120"
              scale-option="pad"
            />
          </a>
        </p>
      </figure>
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtImg = () => interopDefault(import('./TtImg'))
export default {
  name: 'KnownByLogo',
  components: { TtImg },
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.media {
  margin-top: 0 !important;
}
.has-padding-10 {
  background-color: white;
}
.image.is-48x48 {
  height: 48px;
  width: 48px;
}
</style>
