<template>
  <nuxt-link
    :to="to"
    class="has-text-black"
    :event="disabled ? '' : 'click'"
    :class="disabled ? 'disabled' : ''"
  >
    <h1
      v-if="disabled"
      v-snippet="snippet"
      :class="headlineTagClass"
      class="has-tooltip-bottom"
      :data-tooltip="disabled ? tSnippet(disabledMessage) : ''"
    />
    <h1 v-else v-snippet="snippet" :class="headlineTagClass" />
    <p v-if="disabled && showDisabledMessage">
      <small v-snippet="disabledMessage" />
    </p>
    <br />
  </nuxt-link>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'

export default {
  name: 'LargeLink',
  mixins: [SnippetMixin],
  props: {
    to: {
      type: String,
      required: true
    },
    snippet: {
      type: String,
      required: true
    },
    disabledMessage: {
      type: String,
      default: ''
    },
    showDisabledMessage: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    smallerSize: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    headlineTagClass() {
      return this.smallerSize
        ? 'is-4 is-uppercase'
        : 'title is-4 is-uppercase has-text-weight-bold'
    }
  }
}
</script>

<style scoped lang="scss">
.disabled {
  cursor: default;
  h1,
  p {
    color: lightgray;
  }
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 24px;
  }
}
</style>
