<template>
  <div class="columns is-gapless is-mobile">
    <div class="column is-half ">
      <Link
        v-for="link in linksLeft"
        :key="link.snippet"
        class="has-padding is-small"
        :text="link.snippet"
        :url-obj="link.urlObj"
        color="white"
      />
    </div>
    <div class="column is-half">
      <Link
        v-for="link in linksRight"
        :key="link.snippet"
        class="has-padding is-small"
        :text="link.snippet"
        :url-obj="link.urlObj"
        color="white"
      />
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
import CityPageMixin from '../utils/mixins/CityPageMixin'

const Link = () => interopDefault(import('./Link'))
export default {
  name: 'LinkFooterSection',
  components: { Link },
  mixins: [CityPageMixin],
  computed: {
    linksLeft() {
      return [
        {
          snippet: 'our_tours',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'tours')
            : { name: 'tours' }
        },
        {
          snippet: 'custom_tours_title',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'tours-custom')
            : { name: 'tours-custom' }
        },
        {
          snippet: 'contact',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'contact')
            : { name: 'contact' }
        },
        {
          snippet: 'imprint',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'imprint')
            : { name: 'imprint' }
        }
      ]
    },
    linksRight() {
      return [
        {
          snippet: 'jobs',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'jobs')
            : { name: 'jobs' }
        },
        {
          snippet: 'faq',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'faq')
            : { name: 'faq' }
        },
        {
          snippet: 'terms_of_service_short',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'terms-of-service')
            : { name: 'terms-of-service' }
        },
        {
          snippet: 'privacy_policy',
          urlObj: this.citySlug
            ? this.pathForCitySubpage(this.citySlug, 'privacy-policy')
            : { name: 'privacy-policy' }
        }
      ]
    }
  }
}
</script>

<style scoped>
.has-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
