<template>
  <div>
    <nuxt-link
      v-snippet="text"
      :prefetch="false"
      :to="urlObj ? localePath(urlObj) : localePath(url)"
      :class="'has-text-' + color"
      class="is-mobile-text-small"
    />
  </div>
</template>

<script>
export default {
  name: 'Link',
  props: {
    url: {
      type: String,
      default: null
    },
    urlObj: {
      type: Object,
      default() {
        return null
      }
    },
    text: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: 'black'
    }
  }
}
</script>

<style scoped></style>
