<template>
  <div class="columns is-mobile is-multiline is-marginless">
    <location-card
      v-for="location in locations"
      :key="location.id"
      :location="location"
      :city="city"
      :height="200"
      :width="100"
      class="column is-half-mobile is-one-quarter-desktop has-no-padding"
    />
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const LocationCard = () => interopDefault(import('./LocationCard'))
export default {
  name: 'LocationCardCollection',
  components: { LocationCard },
  props: {
    locations: {
      type: Array,
      required: true
    },
    city: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
.has-no-padding:nth-child(4n) {
  padding-right: 0;
}
.has-no-padding:nth-child(4n + 1) {
  padding-left: 0;
}
.has-no-padding:nth-child(4n + 2),
.has-no-padding:nth-child(4n + 3) {
  padding-left: 6px;
  padding-right: 6px;
}
@media screen and (max-width: $tablet) {
  .has-no-padding:nth-child(odd) {
    padding-left: 0 !important;
  }
  .has-no-padding:nth-child(even) {
    padding-right: 0 !important;
  }
}
</style>
