<template>
  <nuxt-link :to="getPathForLocation(city, location)">
    <div v-lazy:background-image="imageData" class="card-image margin">
      <TitleSubtitle
        :title="location.name"
        :subtitle="categoryName"
        :use-as-text="true"
        :is-large="false"
        :is-light="true"
        title-class="is-6"
        class="has-bottom-alignment has-bottom-padding-10 has-left-padding-10 title"
      />
    </div>
  </nuxt-link>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'
import ImageMixin from '../utils/mixins/ImageMixin'
import { interopDefault } from '../.nuxt/utils'
const TitleSubtitle = () => interopDefault(import('./TitleSubtitle'))
export default {
  name: 'LocationCard',
  components: { TitleSubtitle },
  mixins: [SnippetMixin, ImageMixin],
  props: {
    location: {
      type: Object,
      required: true
    },
    city: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      imageData: null
    }
  },
  computed: {
    categoryName() {
      const category = this.location
        ? this.location.category
          ? this.location.category
          : null
        : null
      if (!category) return ''
      return this.tForSnippet(category)
    }
  },
  async mounted() {
    this.imageData = await this.getImage(this.imageOptions)
  },
  methods: {
    getImageObject() {
      return this.location
    }
  }
}
</script>

<style scoped lang="scss">
.card-image {
  background: no-repeat center;
  background-size: cover;
  border-radius: 10px;
  height: 200px;
}
.has-bottom-alignment {
  position: absolute;
  bottom: 10px;
}
</style>
