<template>
  <div class="has-text-centered">
    <span class="icon is-circle is-primary">
      <tt-img
        v-if="category.image"
        :size="40"
        :url="category.image.url"
        color-option="fff"
        class="is-large is-centered"
      />
    </span>
    <p
      v-snippetobject="category.name"
      class="is-uppercase is-size-7 has-top-padding-10"
    />
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtImg = () => interopDefault(import('./TtImg'))
export default {
  name: 'LocationCategory',
  components: { TtImg },
  props: {
    category: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
span {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: $tablet) {
  span {
    width: 40px;
    height: 40px;
  }
}
</style>
