<template>
  <div>
    <hero-section
      :image="image"
      :image-identifier="imageIdentifier"
      title="main_title"
      subtitle="main_subtitle"
      :blur-image="blurImage"
    >
      <slot name="header" />
    </hero-section>
    <div class="columns is-multiline is-marginless is-mobile is-multiline">
      <slot name="upperContent" />
      <icontext-section
        :title="iconTitle"
        :subtitle="iconSubtitle"
        :facts-page="factsPage"
        :product="product"
        class="column is-half-desktop is-offset-one-quarter-desktop"
      />
      <div class="column is-full">
        <div class="columns is-mobile">
          <div
            class="column is-full-mobile is-half-desktop is-offset-one-quarter-desktop"
          >
            <div class="columns is-mobile">
              <OutlinedButton
                snippet="our_tours"
                link="tours"
                class="column is-half is-offset-one-quarter is-primary"
              />
            </div>
          </div>
        </div>
      </div>
      <single-button-section
        :title="singleButtonTitle"
        :subtitle="singleButtonSubtitle"
        :button-snippet="singleButtonSnippet"
        :button-link="singleButtonLink"
        :is-enabled="isSingleButtonEnabled"
        class="column is-full-mobile is-half-desktop is-offset-one-quarter-desktop"
        @disabled-click="$emit('disabled-click')"
      />
      <div class="column is-12 is-gapless is-paddingless is-marginless">
        <article-card-section :articles="mappedTours" />
      </div>
    </div>
  </div>
</template>

<script>
import CityRouteParameterMixin from '../utils/mixins/CityRouteParameterMixin'
import SnippetMixin from '../utils/mixins/SnippetMixin'
import CustomToursMixin from '../utils/mixins/CustomToursMixin'
import { interopDefault } from '../.nuxt/utils'
const ArticleCardSection = () => interopDefault(import('./ArticleCardSection'))
const HeroSection = () => interopDefault(import('./HeroSection'))
const IcontextSection = () => interopDefault(import('./IconTextSection'))
const SingleButtonSection = () =>
  interopDefault(import('./SingleButtonSection'))
const OutlinedButton = () => interopDefault(import('./OutlinedButton'))

export default {
  name: 'MainPageContent',
  components: {
    ArticleCardSection,
    SingleButtonSection,
    IcontextSection,
    HeroSection,
    OutlinedButton
  },
  mixins: [CityRouteParameterMixin, SnippetMixin, CustomToursMixin],
  props: {
    iconTitle: {
      type: String,
      default: 'main_facts_title'
    },
    iconSubtitle: {
      type: String,
      default: 'main_facts_subtitle'
    },
    factsPage: {
      type: String,
      default: 'home'
    },
    singleButtonTitle: {
      type: String,
      default: 'main_voucher_title'
    },
    singleButtonSubtitle: {
      type: String,
      default: 'write_with_us'
    },
    singleButtonSnippet: {
      type: String,
      default: 'vouchers'
    },
    singleButtonLink: {
      type: String,
      default: 'vouchers'
    },
    isSingleButtonEnabled: {
      type: Boolean,
      default: true
    },
    imageIdentifier: {
      type: String,
      default: null
    },
    image: {
      type: Object,
      default: null
    },
    blurImage: {
      type: Boolean,
      default: false
    },
    product: {
      type: Object,
      default: null
    }
  }
}
</script>

<style scoped></style>
