<template>
  <overlay>
    <template v-slot:above>
      <call-to-action-contact class="is-primary has-text-white" />
    </template>
    <template>
      <ResponsiveFrame>
        <div class="menu">
          <large-link
            v-for="link in links"
            :key="link.snippet"
            :to="localePath(link.to)"
            :snippet="link.snippet"
            :disabled-message="link.notActiveMessage"
            :disabled="!link.isActive()"
          />
        </div>
        <div class="small-menu">
          <nuxt-link
            v-for="{ snippet, to } in smallLinks"
            :key="snippet"
            v-snippet="snippet"
            class="is-size-7 has-text-black is-paddingless"
            :to="localePath(to)"
          />
        </div>
      </ResponsiveFrame>
    </template>
  </overlay>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const Overlay = () => interopDefault(import('./Overlay'))
const CallToActionContact = () =>
  interopDefault(import('./CallToActionContact'))
const LargeLink = () => interopDefault(import('./LargeLink'))
const ResponsiveFrame = () => interopDefault(import('./ResponsiveFrame'))

export default {
  name: 'MenuComponent',
  components: {
    ResponsiveFrame,
    LargeLink,
    CallToActionContact,
    Overlay
  },
  props: {
    links: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      smallLinks: [
        {
          snippet: 'imprint',
          to: 'imprint'
        },
        {
          snippet: 'privacy_policy',
          to: 'privacy-policy'
        },
        {
          snippet: 'jobs',
          to: 'jobs'
        },
        {
          snippet: 'contact',
          to: 'contact'
        },
        {
          snippet: 'faq',
          to: 'faq'
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.menu {
  padding: 3rem;
}
.small-menu {
  position: fixed;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
  text-align: center;

  a:not(:first-child):before {
    content: ' • ';
  }
}
</style>
