<template>
  <nav
    class="navbar is-fluid container"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="columns is-marginless is-gapless is-mobile">
      <city-dropdown class="column is-5" />
      <home-button class="column is-2" />
      <horizontal-menu class="column is-5 is-hidden-mobile" />
      <hamburger-button
        :shows-overlay="showsMenu"
        class="column is-5 is-hidden-desktop"
      />
    </div>
  </nav>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
import HorizontalMenu from './HorizontalMenu'

const HomeButton = () => interopDefault(import('./header/HomeButton'))
const HamburgerButton = () => interopDefault(import('./header/HamburgerButton'))
const CityDropdown = () => interopDefault(import('./header/CityDropdown'))
export default {
  name: 'NavigationBar',
  components: { HorizontalMenu, CityDropdown, HamburgerButton, HomeButton },
  computed: {
    showsMenu() {
      const testPatterns = [
        /\/restaurants\/\w+/,
        /\/jobs\/\w+/,
        /\/cart\/\w+/,
        /checkout\/\w+/,
        /tours\/\w+/,
        /\/menu/
      ]
      const match = (pattern) => pattern.test(this.$route.path)
      return testPatterns.some(match)
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables.scss';
nav,
.columns,
.column {
  height: $navigation-height;
}

.columns {
  width: 100%;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
  position: fixed !important;
  .column:nth-child(1) {
    text-align: left;
  }
  .column:nth-child(2) {
    text-align: center;
  }
  .column:nth-child(4) {
    text-align: right;
  }
}
</style>
