<template>
  <div class="city-picker columns is-mobile is-marginless">
    <div
      class="column card-column is-paddingless is-one-third-desktop is-offset-one-third-desktop is-nearly-full-mobile"
    >
      <nuxt-link v-if="!shouldShowEmptyState" :to="link">
        <CardItemHeader
          :is-loading="isLoading"
          :city="isLoading ? null : city"
          :item="isLoading ? null : cartItem"
          :time-slots="timeSlots"
          :duration="4"
          :link="link"
        />
      </nuxt-link>
      <div v-else class="has-padding-20">
        <h1 v-snippetobject="product.name" class="is-size-5" />
        <p v-snippet="'month_booked_out'" class="is-size-7" />
      </div>
    </div>
  </div>
</template>

<script>
import MomentHelper from '../utils/helper/MomentHelper'
import CityRouteParameterMixin from '../utils/mixins/CityRouteParameterMixin'
import FetchTimesMixin from '../utils/mixins/FetchTimesMixin'
import { interopDefault } from '../.nuxt/utils'
import ProductMixin from '../utils/mixins/ProductMixin'
const CardItemHeader = () => interopDefault(import('./CardItemHeader'))

export default {
  name: 'NextTour',
  components: { CardItemHeader },
  mixins: [CityRouteParameterMixin, FetchTimesMixin, ProductMixin],
  props: {
    nextDate: {
      type: Object,
      default() {
        return null
      }
    },
    city: {
      type: Object,
      required: true
    },
    product: {
      type: Object,
      default: null
    },
    shouldShowEmptyState: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      nextTimeSlot: null,
      timeSlots: null
    }
  },
  computed: {
    dateString() {
      if (!this.nextDate || !this.nextDate.moment) return
      return MomentHelper.getDateFormattedString(this.nextDate.moment)
    },
    link() {
      return this.localePath({
        name: 'cities-city-tours-product-dates-date',
        params: { date: this.dateString, ...this.$route.params }
      })
    },
    articleId() {
      return this.product
        ? this.getArticleConnectionForProduct(this.product).articleId
        : null
    }
  },
  watch: {
    async nextDate(newValue) {
      if (!newValue) return
      if (newValue.then) newValue = await newValue
      await this.fetch(newValue, this.articleId)
    },
    async articleId(newValue) {
      await this.fetch(this.nextDate, newValue)
    }
  },
  async mounted() {
    this.nextTimeSlot = await this.getNextTimeSlot()
    this.timeSlots = await this.getTimeSlots()
  },
  methods: {
    async fetch(date, articleId) {
      if (!date || !articleId) return
      await this.fetchTimesForDate(date, this.city.id, articleId)
      this.nextTimeSlot = await this.getNextTimeSlot()
      this.timeSlots = await this.getTimeSlots()
    },
    getCityId() {
      return this.city.id
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';
.card-column {
  color: black;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 17px;
}
.is-nearly-full-mobile {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
</style>
