<template>
  <nuxt-link
    v-snippet="snippet"
    :to="isSubpage ? getLink() : link"
    class="button is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
  />
</template>

<script>
import CityPageMixin from '../utils/mixins/CityPageMixin'

export default {
  name: 'OutlinedButton',
  mixins: [CityPageMixin],
  props: {
    snippet: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: 'index'
    },
    isSubpage: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    getLink() {
      return this.citySlug
        ? this.localePath(this.pathForCitySubpage(this.citySlug, this.link))
        : this.localePath(this.link)
    }
  }
}
</script>

<style scoped>
a {
  padding-bottom: 20px;
  padding-top: 20px;
}
</style>
