<template>
  <section class="hero background overlay">
    <div class="hero-body is-paddingless">
      <slot name="above" />
      <div class="container">
        <slot />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Overlay'
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';
.overlay {
  min-height: 100vh;
}
</style>
