<template>
  <nuxt-link :to="productLink">
    <div class="card container product-card">
      <div class="columns is-multiline is-mobile is-marginless">
        <tt-img
          :url="product.image.url"
          :size="$device.isMobile ? 300 : 500"
          scale-option="fit"
          class="column is-full product-image is-paddingless"
        />

        <div class="column is-full product-description">
          <div class="columns is-mobile is-multiline has-padding-sides">
            <div
              class="column is-2 is-offset-10 is-paddingless has-text-centered"
            >
              <h1 class="price">{{ product.prize }}€</h1>
            </div>
            <h1 class="column is-full is-paddingless header">
              {{ tForSnippet(product.name) }}
            </h1>
            <p class="column is-full is-paddingless sub-header">
              {{ subHeader }}
            </p>
            <div class="column is-full is-paddingless description">
              <p v-snippetobject="product.description" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import SnippetMixin from '../utils/mixins/SnippetMixin'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import ProductHelper from '../utils/helper/ProductHelper'
import TtImg from './TtImg'

export default {
  name: 'ProductCard',
  components: { TtImg },
  mixins: [SnippetMixin, CityPageMixin],
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    subHeader() {
      return `${this.tForSnippet(this.product.timeLabel)} | ${this.tForSnippet(
        this.product.stationLabel
      )} | ${this.tForSnippet(this.product.guestLabel)}`
    },
    productLink() {
      const productSlug = this.getSlug(this.product, 'name')
      return ProductHelper.getProductLink(this, this.citySlug, productSlug)
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';

.product-image {
  height: 150px !important;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.product-description {
  height: 150px !important;
}
.container {
  background-color: white;
  cursor: pointer;
  height: 300px;
}
.header {
  color: $dark;
}
.sub-header {
  font-size: 0.7rem;
  color: $primary;
}
.description {
  margin-top: 10px;
  font-size: 0.7rem;
  color: grey;
}
.price {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: $white;
  font-size: 1rem;
  color: $primary;
  margin-top: -20px;
  padding-top: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-card {
  border-radius: 4px;
}
</style>
