<template>
  <base-card-collection :is-horizontally-on-desktop="true">
    <product-card
      v-for="product in products"
      :key="product.id"
      :product="product"
      class="column is-one-third-desktop is-three-fifths-mobile is-offset-1"
    />
  </base-card-collection>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const BaseCardCollection = () => interopDefault(import('./BaseCardCollection'))
const ProductCard = () => interopDefault(import('./ProductCard'))
export default {
  name: 'ProductCardCollection',
  components: { ProductCard, BaseCardCollection },
  props: {
    products: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped></style>
