<template>
  <div class="container">
    <div v-if="isLoading" class="has-text-weight-bold">
      <progress class="progress is-primary" max="100">20%</progress>
    </div>
    <div v-else class="has-text-weight-bold is-truncated-text">
      {{ productName }}
    </div>
    <div>
      <div class="infoText inline has-right-padding-20">
        <TtSvg
          name="location"
          :width="12"
          :height="12"
          color-identifier="gray"
          class="inline"
        />
        <p v-if="isLoading" class="inline">...</p>
        <p v-else v-snippetobject="city.name" class="inline" />
      </div>
      <div class="infoText inline">
        <TtSvg
          name="avatar"
          :width="12"
          :height="12"
          color-identifier="gray"
          class="inline"
        />
        <p v-if="isLoading" class="inline">...</p>
        <p v-else v-snippet="availableSeatsSnippet" class="inline" />
      </div>
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtSvg = () => interopDefault(import('./TtSvg'))
export default {
  name: 'ProductCitySection',
  components: { TtSvg },
  props: {
    productName: {
      type: String,
      default: ''
    },
    city: {
      type: Object,
      default() {
        return null
      }
    },
    availableSeats: {
      type: String,
      default: ''
    },
    isLoading: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    availableSeatsSnippet() {
      return {
        identifier: 'number_tickets_left',
        replacements: { ticketsLeft: this.availableSeats }
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';
.inline {
  display: inline-block;
}
.infoText {
  font-size: 0.7rem;
  color: $dark;
}

.has-text-weight-bold {
  font-size: 1.3rem;
  color: black;
  &:hover {
    color: black;
  }
}
</style>
