<template>
  <div>
    <product-card-collection :products="mappedProductsWithPrizes" />
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import ProductMixin from '../utils/mixins/ProductMixin'
import query from '../apollo/queries/products.graphql'
const ProductCardCollection = () =>
  interopDefault(import('./ProductCardCollection'))
export default {
  name: 'ProductChooser',
  components: { ProductCardCollection },
  mixins: [CityPageMixin, ProductMixin],
  apollo: {
    products: { query }
  }
}
</script>

<style scoped></style>
