<template>
  <div>
    <div class="container">
      <div class="bar" />
      <div class="dot dot-one" :class="isActive(0)" />
      <div class="dot dot-two" :class="isActive(1)" />
      <div class="dot dot-three" :class="isActive(2)" />
      <div class="dot dot-four" :class="isActive(3)" />
    </div>
    <div class="columns is-mobile is-paddingless is-marginless is-size-7">
      <div v-snippet="'shipping'" class="column is-one-quarter has-text-left" />
      <div
        v-snippet="'payment_method'"
        class="column is-one-quarter has-text-left"
      />
      <div
        v-snippet="'payment_overview'"
        class="column is-one-quarter has-text-right"
      />
      <div v-snippet="'done'" class="column is-one-quarter has-text-right" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProgressBar',
  props: {
    activeState: {
      type: Number,
      default: 0
    }
  },
  watch: {
    activeState() {
      this.$forceUpdate()
    }
  },
  methods: {
    isActive(state) {
      if (this.activeState >= state) {
        return 'active'
      } else {
        return 'inactive'
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';

.container {
  position: relative;
}
.bar {
  background-color: $grayPrimary;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 2px;
}
.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  &.active {
    background-color: black;
  }
  &.inactive {
    background-color: white;
    border: 1px black solid;
  }
}
.dot-one {
  left: 0;
}
.dot-two {
  left: 33%;
}
.dot-three {
  right: 33%;
}
.dot-four {
  right: 0;
}
.column {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
</style>
