<template>
  <div class="container">
    <div class="columns is-multiline is-marginless is-mobile">
      <div class="column is-half-desktop is-offset-one-quarter-desktop">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResponsiveFrame'
}
</script>

<style scoped></style>
