<template>
  <div>
    <section class="hero background columns is-marginless">
      <div class="hero-body column">
        <div class="container">
          <TitleSubtitle :title="title" :subtitle="subtitle" />
        </div>
        <div class="columns is-mobile has-top-padding-40">
          <OutlinedButton
            v-if="isEnabled"
            :snippet="buttonSnippet"
            :link="buttonLink"
            class="column is-half is-offset-one-quarter is-primary"
          />
          <button
            v-else
            v-snippet="buttonSnippet"
            class="column is-half is-offset-one-quarter is-primary button is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
            @click="onDisabledClick()"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const OutlinedButton = () => interopDefault(import('./OutlinedButton'))
const TitleSubtitle = () => interopDefault(import('./TitleSubtitle'))
export default {
  name: 'SingleButtonSection',
  components: { TitleSubtitle, OutlinedButton },
  props: {
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    buttonSnippet: {
      type: String,
      default: ''
    },
    buttonLink: {
      type: String,
      default: ''
    },
    isEnabled: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    onDisabledClick() {
      this.$emit('disabled-click')
    }
  }
}
</script>
