<template>
  <span class="icon">
    <tt-svg
      :name="iconName"
      :color-identifier="color"
      :should-colorize="false"
    />
  </span>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtSvg = () => interopDefault(import('./TtSvg'))
export default {
  name: 'SingleSocialIcon',
  components: { TtSvg },
  props: {
    iconName: {
      type: String,
      required: true
    },
    color: {
      type: String,
      default: 'white'
    }
  }
}
</script>
