<template>
  <div class="columns is-mobile ">
    <span class="column is-one-quarter is-large is-circle is-light">
      <tt-svg :name="fact.icon" color-identifier="primary" />
    </span>
    <div
      v-snippetobject="fact.text"
      class="column three-one-quarter is-size-7-mobile has-no-padding-top"
    />
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtSvg = () => interopDefault(import('./TtSvg'))
export default {
  name: 'IconText',
  components: { TtSvg },
  props: {
    fact: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.is-circle {
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
}
.has-no-padding-top {
  padding-top: 0 !important;
}
</style>
