<template>
  <div
    class="columns is-mobile is-centered"
    :class="{ 'has-background-black': color === 'white' }"
  >
    <div v-for="icon in socialLinks" :key="icon.type">
      <a
        :href="icon.url"
        target="_blank"
        rel="noopener"
        class="button social-icon"
      >
        <SingleSocialIcon :icon-name="icon.type" :color="color" />
      </a>
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const SingleSocialIcon = () => interopDefault(import('./SingleSocialIcon'))
export default {
  name: 'SocialIcons',
  components: { SingleSocialIcon },
  props: {
    socialLinks: {
      type: Array,
      required: true
    },
    color: {
      type: String,
      default: 'white'
    }
  }
}
</script>

<style scoped>
.social-icon {
  border-color: transparent !important;
  background: transparent;
}
</style>
