<template>
  <div>
    <responsive-frame>
      <title-subtitle
        :title="title"
        :subtitle="subtitle"
        class="has-padding-sides module-spacer-bottom module-spacer-top"
      />
      <p
        v-styledsnippet="content"
        class="has-padding-sides hyphens module-spacer-bottom"
      />
    </responsive-frame>
  </div>
</template>

<script>
import ResponsiveFrame from './ResponsiveFrame'
import TitleSubtitle from './TitleSubtitle'
export default {
  name: 'StyledContent',
  components: { TitleSubtitle, ResponsiveFrame },
  props: {
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped></style>
