<template>
  <div>
    <tt-svg
      name="tt_logo"
      :color-identifier="colorIdentifier"
      :width="94"
      :height="60"
    />
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtSvg = () => interopDefault(import('./TtSvg'))
export default {
  name: 'TasteToursLogo',
  components: { TtSvg },
  props: {
    isLightLogo: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    colorIdentifier() {
      if (this.isLightLogo) return 'white'
      return 'black'
    }
  }
}
</script>

<style scoped>
div {
  width: 80%;
  margin-left: 20%;
  margin-right: 0;
  padding-top: 10%;
}
</style>
