<template>
  <div class="columns is-multiline is-mobile is-marginless">
    <TeamMemberCard
      v-for="member in members"
      :key="member.name"
      :member="member"
      class="column is-flex has-background-dark margin-bottom box is-light"
      :class="sizeClass"
    />
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const TeamMemberCard = () => interopDefault(import('./TeamMemberCard'))
export default {
  name: 'TeamMemberCardSection',
  components: { TeamMemberCard },
  props: {
    members: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    sizeClass() {
      if (this.$device.isMobile) {
        return 'is-5'
      } else {
        return 'is-3'
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '~bulma/sass/utilities/initial-variables';

.margin-bottom {
  margin-bottom: 40px !important;
}

@media screen and (max-width: $tablet) {
  .column:nth-child(even) {
    margin-left: 16%;
  }
}
@media screen and (min-width: $tablet) {
  .column {
    margin-left: 1.5rem;
  }
}
</style>
