<template>
  <div>
    <div class="is-multiline is-mobile has-text-centered fullwidth">
      <figure class="image is-96x96 is-inline-block">
        <tt-img :url="member.image.url" :size="96" class="is-rounded" />
      </figure>
      <div class="has-text-weight-bold">
        {{ member.name }}
      </div>
      <div v-snippetobject="member.description" class="hyphens" />
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtImg = () => interopDefault(import('./TtImg'))
export default {
  name: 'TeamMemberCard',
  components: { TtImg },
  props: {
    member: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.fullwidth {
  width: 100%;
}
.hyphens {
  hyphens: auto;
}
</style>
