<template>
  <div>
    <h4
      v-snippet="useAsText ? { text: title } : title"
      class="title is-4 is-uppercase has-text-weight-bold is-mobile-text-medium"
      :class="`${getTextStyle} ${titleClass}`"
    />
    <h6
      v-if="subtitle"
      v-snippet="useAsText ? { text: subtitle } : subtitle"
      class="subtitle is-6 is-mobile-text-small"
      :class="`${getFontStyleH6} ${getTextStyle}`"
    />
  </div>
</template>

<script>
export default {
  name: 'TitleSubtitle',
  props: {
    // eslint-disable-next-line vue/require-prop-types
    title: {
      required: true
    },
    subtitle: {
      type: String,
      default: ''
    },
    useAsText: {
      type: Boolean,
      default: false
    },
    isLarge: {
      type: Boolean,
      default: true
    },
    isLight: {
      type: Boolean,
      default: false
    },
    titleClass: {
      type: String,
      default: ''
    }
  },
  computed: {
    getFontStyleH6() {
      if (this.isLarge) {
        return 'is-size-4 is-size-6-mobile'
      } else {
        return 'is-size-6 is-size-7-mobile'
      }
    },
    getTextStyle() {
      if (this.isLight) {
        return 'has-text-white'
      } else {
        return ''
      }
    }
  }
}
</script>

<style scoped>
h4 {
  hyphens: auto;
  letter-spacing: -0.27px !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
}
.is-mobile-text-medium {
  font-size: 17px !important;
}
</style>
