<template>
  <button
    v-snippetobject="snippet"
    :class="isSelected ? 'is-selected' : 'is-not-selected'"
    class="is-rounded button is-normal"
    @click="$emit('click')"
  />
</template>

<script>
export default {
  name: 'ToggleButton',
  props: {
    snippet: {
      type: Object,
      required: true
    },
    isSelected: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped lang="scss">
@import './../assets/scss/variables';
.is-not-selected {
  background-color: white !important;
  color: $primary !important;
}
.is-selected {
  background-color: $primary !important;
  color: white !important;
}
.button {
  border: 1px solid $primary !important;
}
</style>
