<template>
  <div>
    <hero-image-small image-identifier="tours" class="is-small-hero-image " />
    <div class="columns is-multiline is-marginless is-mobile is-multiline">
      <icontext-section
        title="quick_facts_title_tours"
        subtitle="quick_facts_subtitle_tours"
        facts-page="tours"
        class="column is-half-desktop is-offset-one-quarter-desktop"
      />
      <div
        class="column is-one-third-desktop is-offset-one-third-desktop is-two-thirds-mobile is-offset-2-mobile has-bottom-padding-30"
      >
        <nuxt-link
          v-if="!!citySlug"
          v-snippet="'find_tour_calendar'"
          :to="toursLink"
          class="button primary-button is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
        />
        <button
          v-else
          v-snippet="'find_tour_calendar'"
          class="button primary-button is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
          @click="onToursLinkClicked()"
        />
      </div>
    </div>
    <div class="columns is-multiline is-marginless is-mobile is-multiline">
      <icontext-section
        title="quick_facts_title_compact_tours"
        subtitle="quick_facts_subtitle_compact_tours"
        facts-page="tours_compact"
        class="column is-half-desktop is-offset-one-quarter-desktop"
      />
      <div
        class="column is-one-third-desktop is-offset-one-third-desktop is-two-thirds-mobile is-offset-2-mobile has-bottom-padding-30"
      >
        <nuxt-link
          v-if="!!citySlug && hasCityCompactTourVoucher"
          v-snippet="'compact_tours_link_description'"
          :to="compactVoucherLink"
          class="button primary-button is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
        />
        <p
          v-else-if="!!citySlug && !hasCityCompactTourVoucher"
          v-snippet="'compact_tours_link_fallback'"
        />
        <button
          v-else
          v-snippet="'compact_tours_link_description'"
          class="button primary-button is-rounded is-uppercase has-text-weight-bold is-outlined is-normal is-fullwidth is-mobile-text-small"
          @click="onCompactToursLinkClicked()"
        />
      </div>
    </div>
    <div class="column is-12 is-gapless is-paddingless is-marginless">
      <article-card-section
        :articles="mappedTours"
        title="custom_tours_title"
      />
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
import CustomToursMixin from '../utils/mixins/CustomToursMixin'
import SnippetMixin from '../utils/mixins/SnippetMixin'
import ChooseCityAlertMixin from '../utils/mixins/ChooseCityAlertMixin'
import CityPageMixin from '../utils/mixins/CityPageMixin'
const ArticleCardSection = () => interopDefault(import('./ArticleCardSection'))
const IcontextSection = () => interopDefault(import('./IconTextSection'))
const HeroImageSmall = () => interopDefault(import('./HeroImageSmall'))

export default {
  name: 'ToursContent',
  components: {
    ArticleCardSection,
    IcontextSection,
    HeroImageSmall
  },
  mixins: [CityPageMixin, CustomToursMixin, SnippetMixin, ChooseCityAlertMixin],
  props: {
    imageIdentifier: {
      type: String,
      default: null
    },
    image: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      sliderImages: [
        {
          number: 1,
          imageUrl:
            'https://res.cloudinary.com/foodiscovr/image/upload/v1566916316/Taste%20Tours/brooklynbbqbar.jpg'
        },
        {
          number: 2,
          imageUrl:
            'https://res.cloudinary.com/foodiscovr/image/upload/v1566916316/Taste%20Tours/zeik.jpg'
        },
        {
          number: 3,
          imageUrl:
            'https://res.cloudinary.com/foodiscovr/image/upload/v1566916315/Taste%20Tours/weinladen.jpg'
        },
        {
          number: 4,
          imageUrl:
            'https://res.cloudinary.com/foodiscovr/image/upload/v1566916316/Taste%20Tours/ueberquell.jpg'
        }
      ]
    }
  },
  computed: {
    toursLink() {
      return this.localePath(this.pathForCity(this.citySlug))
    },
    compactVoucherLink() {
      // TODO go to voucher checkout
      // use this.city.compact_tours_voucher
      return this.localePath(this.pathForCitySubpage(this.citySlug, 'vouchers'))
    },
    hasCityCompactTourVoucher() {
      return !!this.city && !!this.city.compact_tours_voucher
    }
  },
  methods: {
    async onToursLinkClicked() {
      await this.showChooseCityAlert('please_choose_city_first')
    },
    async onCompactToursLinkClicked() {
      await this.showChooseCityAlert()
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables.scss';
.alternate-coloring {
  background-color: $primary;
}
.has-bottom-padding-30 {
  padding-bottom: 30px !important;
}
.primary-button {
  &:hover {
    color: $white !important;
    background-color: $primary !important;
    border-color: $primary !important;
  }
  &:focus,
  &:not(:hover) {
    background-color: $white !important;
    color: $primary !important;
    border-color: $primary !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
</style>
