<template>
  <img v-lazy="parameterizedUrl" class="tt-img" />
</template>

<script>
import CloudinaryHelper from '../utils/helper/CloudinaryHelper'

export default {
  name: 'TtImg',
  props: {
    url: {
      type: String,
      required: true
    },
    width: {
      type: Number,
      default: null
    },
    height: {
      type: Number,
      default: null
    },
    size: {
      type: Number,
      default: null
    },
    scaleOption: {
      type: String,
      default: null
    },
    colorOption: {
      type: String,
      default: null
    }
  },
  computed: {
    parameterizedUrl() {
      if (this.size) {
        const size = this.$device.isMobile ? this.size * 2 : this.size
        return CloudinaryHelper.getUrlWithSize(
          this.url,
          size,
          !this.$device.isIos,
          this.scaleOption,
          this.colorOption
        )
      }
      if (this.height && this.width) {
        const { height, width } = this.$device.isMobile
          ? {
              height: this.height * 2,
              width: this.width * 2
            }
          : { height: this.height, width: this.width }
        return CloudinaryHelper.getUrlWithResolution(
          this.url,
          width,
          height,
          !this.$device.isIos,
          this.scaleOption,
          this.colorOption
        )
      }
      return this.url
    }
  }
}
</script>

<style scoped></style>
