<template>
  <img
    v-lazy="url"
    class="tt-svg"
    :height="`${height}px !important`"
    :width="`${width}px !important`"
  />
</template>

<script>
import ColorHelper from '../utils/helper/ColorHelper'
import CloudinaryHelper from '../utils/helper/CloudinaryHelper'
import { DeviceHelperFactory } from '../utils/helper/DeviceHelper'

export default {
  name: 'TtSvg',
  props: {
    name: {
      type: String,
      required: true
    },
    colorIdentifier: {
      type: String,
      default: null
    },
    width: {
      type: Number,
      default: 48
    },
    height: {
      type: Number,
      default: 48
    },
    shouldColorize: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      url: ''
    }
  },
  computed: {
    color() {
      if (!this.colorIdentifier) return null
      return ColorHelper[this.colorIdentifier]
    }
  },
  watch: {
    color() {
      this.$forceUpdate()
    }
  },
  async mounted() {
    this.url = await this.getUrl()
  },
  async updated() {
    this.url = await this.getUrl()
  },
  methods: {
    async getUrl() {
      const deviceHelper = await DeviceHelperFactory.create()
      const isSafari = deviceHelper.isSafari()
      return CloudinaryHelper.getSVGUrl({
        height: this.height * 2,
        width: this.width * 2,
        name: this.name,
        color: this.color,
        isSupportingWebp: !this.$device.isIos && !isSafari,
        shouldColorize: this.shouldColorize
      })
    }
  }
}
</script>

<style scoped />
