<template>
  <div>
    <div class="container">
      <div class="columns is-marginless is-mobile ">
        <div class="column is-one-third button-left-side" :class="buttonColor">
          <TtSvg
            :name="buttonIcon"
            color-identifier="white"
            :width="24"
            :height="24"
          />
        </div>
        <div
          v-snippet="snippet"
          class="column is-two-third button-right-side is-uppercase has-text-weight-bold"
          :class="buttonColor"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TtSvg = () => interopDefault(import('./TtSvg'))
export default {
  name: 'TwoColorButton',
  components: { TtSvg },
  props: {
    buttonColor: {
      type: String,
      default: 'dark'
    },
    snippet: {
      type: String,
      default: ''
    },
    buttonIcon: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
@import '../assets/scss/variables';

.columns {
  height: 40px;
  color: white;
}
.column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex;
  align-items: center;
}
.container {
  border-radius: 30px;
  color: white;
  font-size: x-small;
  cursor: pointer;
}

.button-left-side {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.button-right-side {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.button-left-side {
  &.green {
    background-color: $greenSecundary;
  }
  &.red {
    background-color: $redSecundary;
  }
  &.dark {
    background-color: $graySecundary;
  }
}
.button-right-side {
  &.green {
    background-color: $greenPrimary;
  }
  &.red {
    background-color: $redPrimary;
  }
  &.dark {
    background-color: $grayPrimary;
  }
}
</style>
