<template>
  <nuxt-link :to="to">
    <two-color-button
      :button-color="buttonColor"
      :snippet="snippet"
      :button-icon="buttonIcon"
    />
  </nuxt-link>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const TwoColorButton = () => interopDefault(import('./TwoColorButton'))
export default {
  name: 'TwoColorLink',
  components: { TwoColorButton },
  props: {
    buttonColor: {
      type: String,
      default: 'dark'
    },
    snippet: {
      type: String,
      default: ''
    },
    buttonIcon: {
      type: String,
      required: true
    },
    to: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped></style>
