<template>
  <base-card-collection :is-vertically-on-mobile-device="true">
    <voucher-card
      v-for="voucher in vouchers"
      :key="voucher.id"
      :voucher="voucher"
      class="column is-full"
    />
  </base-card-collection>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'
const BaseCardCollection = () => interopDefault(import('./BaseCardCollection'))
const VoucherCard = () => interopDefault(import('./VoucherCard'))
export default {
  name: 'VoucherCardCollection',
  components: { VoucherCard, BaseCardCollection },
  props: {
    vouchers: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped></style>
