<template>
  <base-card
    :image-url="voucher.imageUrl"
    :should-emit-click="true"
    @on-click="onClick()"
  >
    <div class="container">
      <div class="columns">
        <div class="column is-full is-centered is-vcentered">
          <div class="columns is-mobile is-multiline card-content">
            <div class="column is-2 is-offset-9 has-text-centered">
              <h1 class="price">
                {{ voucher.price }}
              </h1>
            </div>
            <h1
              class="column is-10 is-offset-1 is-size-3 is-size-4-mobile has-text-centered card-text is-paddingless"
            >
              {{ voucher.title }}
            </h1>
            <h1
              class="column is-10 is-offset-1 is-size-3 is-size-4-mobile has-text-centered card-text is-paddingless"
            >
              {{ voucher.subline }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </base-card>
</template>

<script>
import PaymentHelper from '../utils/helper/PaymentHelper'
import CheckfrontHostMixin from '../utils/mixins/CheckfrontHostMixin'
import CityPageMixin from '../utils/mixins/CityPageMixin'
import BaseCard from './BaseCard'
export default {
  name: 'VoucherCard',
  components: { BaseCard },
  mixins: [CheckfrontHostMixin, CityPageMixin],
  props: {
    voucher: {
      type: Object,
      required: true
    }
  },
  methods: {
    getCityId() {
      return this.city.id
    },
    onClick() {
      const itemId = this.voucher.articleId
      const url = PaymentHelper.getItemBookingUrl({ host: this.host, itemId })
      window.open(url, '_blank')
    }
  }
}
</script>

<style scoped lang="scss">
$offset: 30px;
$voucherColor: #816c56;
.card-content {
  .column:first-child {
    margin-top: -$offset;
  }
}
.card-text {
  text-shadow: -2px 3px 1px $voucherColor;
}
.is-vcentered {
  height: 300px;
}
.price {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  padding-top: 12px;
  background-color: $voucherColor;
  margin-bottom: -28px;
}
.column.is-2.is-offset-9 {
  margin-top: 0;
}
.container {
  cursor: pointer;
}
</style>
