<template>
  <base-card-section :title="title" :subtitle="subtitle" :button="null">
    <voucher-card-collection :vouchers="vouchers" />
  </base-card-section>
</template>

<script>
import { interopDefault } from '../.nuxt/utils'

const BaseCardSection = () => interopDefault(import('./BaseCardSection'))
const VoucherCardCollection = () =>
  interopDefault(import('./VoucherCardCollection'))
export default {
  name: 'VoucherCardSection',
  components: { VoucherCardCollection, BaseCardSection },
  props: {
    vouchers: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      default: 'vouchers'
    },
    subtitle: {
      type: String,
      default: 'vouchers_card_section_subline'
    }
  }
}
</script>

<style scoped></style>
