<template>
  <job-detail-content />
</template>

<script>
import JobDetailContent from '../../../../components/JobDetailContent'
export default {
  name: 'JobVue',
  components: { JobDetailContent }
}
</script>

<style scoped></style>
