<template>
  <about-content />
</template>

<script>
import AboutContent from '../../../components/AboutContent'
import SEOMixin from '../../../utils/mixins/SEOMixin'
export default {
  name: 'AboutVue',
  components: { AboutContent },
  mixins: [SEOMixin]
}
</script>

<style scoped></style>
