<template>
  <contact-content />
</template>

<script>
import ContactContent from '../../../components/ContactContent'
import SEOMixin from '../../../utils/mixins/SEOMixin'
export default {
  name: 'Contact',
  components: { ContactContent },
  mixins: [SEOMixin]
}
</script>

<style scoped></style>
