<template>
  <main-page-content
    icon-title="quick_facts_title"
    icon-subtitle="quick_facts_subtitle"
    facts-page="home"
    :image="city"
    :blur-image="true"
  >
    <template v-slot:header>
      <div
        class="column is-half-desktop is-offset-one-quarter-desktop is-full-mobile product-chooser"
      >
        <product-chooser />
      </div>
    </template>
    <template v-slot:upperContent>
      <div class="has-bottom-padding-100 spacer" />
    </template>
  </main-page-content>
</template>

<script>
import MainPageContent from '../../../components/MainPageContent'
import SnippetMixin from '../../../utils/mixins/SnippetMixin'
import CityPageMixin from '../../../utils/mixins/CityPageMixin'
import SEOMixin from '../../../utils/mixins/SEOMixin'
import ProductChooser from '../../../components/ProductChooser'

export default {
  name: 'Name',
  components: {
    ProductChooser,
    MainPageContent
  },
  mixins: [SnippetMixin, CityPageMixin, SEOMixin]
}
</script>

<style>
.product-chooser {
  margin-top: -100px;
  margin-bottom: -100px;
}
.spacer {
  width: 100%;
}
</style>
