<template>
  <menu-component :links="sortedLinks" />
</template>

<script>
import CityPageMixin from '../../../utils/mixins/CityPageMixin'
import MenuMixin from '../../../utils/mixins/MenuMixin'
const MenuComponent = () => import('../../../components/MenuComponent')
export default {
  name: 'Menu',
  components: { MenuComponent },
  mixins: [CityPageMixin, MenuMixin]
}
</script>

<style scoped></style>
