<template>
  <styled-content
    title="terms_of_service_short"
    subtitle="terms_of_service"
    content="terms_of_service"
  />
</template>

<script>
import StyledContent from '../../../components/StyledContent'
import SEOMixin from '../../../utils/mixins/SEOMixin'
export default {
  name: 'TermsOfService',
  components: { StyledContent },
  mixins: [SEOMixin]
}
</script>

<style scoped></style>
