<template>
  <div>
    <HeroImageSmall image-identifier="vouchers" class="is-small-hero-image " />
    <div class="columns is-multiline is-marginless is-mobile">
      <IcontextSection
        title="vouchers"
        subtitle="vouchers_subtitle"
        facts-page="vouchers"
        class="column is-half-desktop is-offset-one-quarter-desktop has-top-padding-20 has-top-margin-30"
      />
      <div class="column is-12 is-gapless is-paddingless is-marginless">
        <voucher-card-section
          :vouchers="mappedVouchers"
          class="column is-full-mobile is-full-desktop is-marginless is-paddingless"
        />
      </div>
    </div>
  </div>
</template>

<script>
import query from '../../../apollo/queries/vouchers.graphql'
import CityPageMixin from '../../../utils/mixins/CityPageMixin'
import SnippetMixin from '../../../utils/mixins/SnippetMixin'
import VoucherHelper from '../../../utils/helper/VoucherHelper'
import SEOMixin from '../../../utils/mixins/SEOMixin'
const VoucherCardSection = () =>
  import('../../../components/VoucherCardSection')
const IcontextSection = () => import('../../../components/IconTextSection')
const HeroImageSmall = () => import('../../../components/HeroImageSmall')

export default {
  name: 'Vouchers',
  components: {
    VoucherCardSection,
    HeroImageSmall,
    IcontextSection
  },
  mixins: [CityPageMixin, SnippetMixin, SEOMixin],
  data() {
    return {
      checkfrontVouchers: null,
      mappedVouchers: []
    }
  },
  apollo: {
    vouchers: {
      query,
      variables() {
        return {
          where: {
            state_eq: 'enabled',
            city_eq: this.city.id
          }
        }
      }
    }
  },
  async mounted() {
    await this.fetchCheckfrontVouchers()
    this.mapVouchers()
  },
  methods: {
    async fetchCheckfrontVouchers() {
      this.checkfrontVouchers = await this.$store.dispatch('voucher/fetch', {
        cityId: this.city.id
      })
    },
    mapVouchers() {
      if (!this.checkfrontVouchers) return []
      if (!this.vouchers) return []
      this.mappedVouchers = this.vouchers.map((voucher) => {
        return {
          title: this.tForSnippet(voucher.title),
          description: this.tForSnippet(voucher.description),
          imageUrl: voucher.image.url,
          subline: this.tForSnippet(voucher.subline),
          price: VoucherHelper.getPrize(voucher, this.checkfrontVouchers),
          articleId: voucher.articleId
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../../assets/scss/variables';

@media screen and (min-width: $tablet) {
  .icon-text-section {
    margin-top: 50px;
  }
}
</style>
