<template>
  <Overlay>
    <ResponsiveFrame>
      <TitleSubtitle
        :use-as-text="true"
        class="has-padding-sides has-bottom-padding-20 module-spacer-top"
        :title="tSnippet('your_cart')"
        :subtitle="
          `${totalBookedTickets} ${tSnippet('ticket')} - ${totalBookingPrice}`
        "
      />
      <CartItem
        v-for="(item, index) in sessionItems"
        :key="item.id"
        :session-item="item"
        class="has-padding-sides has-bottom-padding-20"
        :is-hidden="index !== selectedIndex"
        :has-discount="hasSessionDiscount"
        :total-booking-price="totalBookingPrice"
        :is-only-item="sessionItems.length === 1"
        @remove-item="onRemoveItem"
        @header-click="selectedIndex = index"
      />

      <div v-if="hasSessionItems" class="columns is-centered">
        <div class="column is-4">
          <two-color-link
            snippet="continue_shopping"
            button-color="dark"
            button-icon="ok"
            :to="localeHomePath()"
          />
        </div>
        <div class="column is-4">
          <two-color-link
            button-icon="ok"
            snippet="to_checkout"
            button-color="green"
            :to="pathToCheckout"
          />
        </div>
      </div>
      <p
        v-if="!hasSessionItems"
        v-snippet="'cart_is_empty_long'"
        class="has-top-margin-20 has-bottom-padding-20"
      />
      <outlined-button
        v-if="!hasSessionItems"
        :link="localeHomePath()"
        :is-subpage="false"
        snippet="back_to_home"
        class="is-primary"
      />
    </ResponsiveFrame>
  </Overlay>
</template>

<script>
import SnippetMixin from '../../../../utils/mixins/SnippetMixin'
import CartMixin from '../../../../utils/mixins/CartMixin'
import CityPageMixin from '../../../../utils/mixins/CityPageMixin'
import OutlinedButton from '../../../../components/OutlinedButton'
const Overlay = () => import('../../../../components/Overlay')
const TitleSubtitle = () => import('../../../../components/TitleSubtitle')
const CartItem = () => import('../../../../components/CartItem')
const ResponsiveFrame = () => import('../../../../components/ResponsiveFrame')
const TwoColorLink = () => import('../../../../components/TwoColorLink')

export default {
  name: 'SessionId',
  components: {
    OutlinedButton,
    TwoColorLink,
    ResponsiveFrame,
    CartItem,
    TitleSubtitle,
    Overlay
  },
  mixins: [SnippetMixin, CartMixin, CityPageMixin],
  data() {
    return {
      selectedIndex: 0
    }
  },
  computed: {
    pathToCheckout() {
      return this.localePath({
        name: 'cities-city-checkout-customer-sessionId',
        params: this.$route.params
      })
    },
    subtitle() {
      return this.totalBookedTickets
        ? `${this.totalBookedTickets} ${this.tSnippet('ticket')} - ${
            this.totalBookingPrice
          }`
        : ''
    }
  },
  mounted() {
    this.$nextTick(async () => {
      if (!this.booking) {
        await this.fetchBookingSession()
      }
    })
  }
}
</script>

<style scoped></style>
