<template>
  <div>
    <div v-if="isActive" class="menu-closer" @click="toggle()" />
    <div :class="{ 'is-active': isActive }" class="dropdown">
      <div class="dropdown-trigger">
        <button
          class="button level is-white is-small"
          aria-haspopup="true"
          aria-controls="city-dropdown-menu"
          @click="toggle()"
        >
          <div class="container">
            <div class="columns is-multiline">
              <div class="column is-full is-paddingless is-marginless">
                <div class="level-item">
                  <p>{{ text }}</p>
                </div>
              </div>
              <div class="column is-full is-paddingless is-marginless">
                <div class="level-item">
                  <tt-svg name="down-single" :height="16" :width="16" />
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div id="city-dropdown-menu" class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <nuxt-link
            v-for="city in cities"
            :key="city.id"
            :to="getPathForCity(city)"
            class="dropdown-item"
            @click.native="onCityClick"
          >
            {{ getNameForCity(city) }}
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SnippetMixin from '../../utils/mixins/SnippetMixin'
import ActiveToggleMixin from '../../utils/mixins/ActiveToggleMixin'
import CityPageMixin from '../../utils/mixins/CityPageMixin'
import CityRouteParameterMixin from '../../utils/mixins/CityRouteParameterMixin'
import cities from '../../apollo/queries/cities.graphql'
const TtSvg = () => import('../TtSvg')

export default {
  name: 'CityDropdown',
  components: { TtSvg },
  mixins: [
    SnippetMixin,
    ActiveToggleMixin,
    CityRouteParameterMixin,
    CityPageMixin
  ],
  apollo: {
    cities: {
      query: cities
    }
  },
  computed: {
    text() {
      return this.isCityParameterIncludedInRoute
        ? this.cityName
        : this.tSnippet('choose_city_short')
    }
  },
  methods: {
    onCityClick() {
      this.isActive = false
    }
  }
}
</script>

<style scoped>
.menu-closer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: -10;
  height: 2000px;
}
button {
  margin-top: 21px;
}
</style>
