<template>
  <div>
    <nuxt-link v-if="isCartFilled" :to="cartLink" class="has-right-margin-20">
      <tt-svg name="cart" color-identifier="black" />
    </nuxt-link>
    <button
      v-if="showsOverlay"
      class="button is-paddingless is-marginless is-white"
      @click="onGoBack"
    >
      <tt-svg name="close" color-identifier="black" class="close" />
    </button>
    <nuxt-link v-else :to="menuLink">
      <tt-svg name="menu" color-identifier="black" />
    </nuxt-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SnippetMixin from '../../utils/mixins/SnippetMixin'
import CityPageMixin from '../../utils/mixins/CityPageMixin'
import CityRouteParameterMixin from '../../utils/mixins/CityRouteParameterMixin'
import PathHelper from '../../utils/helper/PathHelper'
const TtSvg = () => import('../TtSvg')
export default {
  name: 'HamburgerButton',
  components: { TtSvg },
  mixins: [SnippetMixin, CityRouteParameterMixin, CityPageMixin],
  props: {
    showsOverlay: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    menuLink() {
      if (!this.isCityParameterIncludedInRoute) return this.localePath('menu')
      return this.localePath(this.pathForCitySubpage(this.citySlug, 'menu'))
    },
    cartLink() {
      return PathHelper.getCartLink(this, this.booking, this.citySlug)
    },
    ...mapGetters({
      isCartFilled: 'cart/isCartFilled',
      booking: 'cart/getBooking'
    })
  },
  methods: {
    onGoBack() {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped lang="scss">
.tt-svg {
  margin-top: 21px;
  height: 1.2rem;
  width: 1.2rem;
  &.close {
    margin-top: 0;
    width: 1.2rem;
    height: 1.2rem;
  }
}
button {
  margin-top: 15px !important;
}
</style>
