<template>
  <nuxt-link :to="homeLink">
    <tt-svg
      name="tt_logo"
      color-identifier="black"
      :height="60"
      :width="94"
      class="logo"
    />
  </nuxt-link>
</template>

<script>
import CityPageMixin from '../../utils/mixins/CityPageMixin'
const TtSvg = () => import('../TtSvg')
export default {
  name: 'HomeButton',
  components: { TtSvg },
  mixins: [CityPageMixin],
  computed: {
    homeLink() {
      if (!this.citySlug) return this.localePath('index')
      return this.localePath(this.pathForCity(this.citySlug))
    }
  }
}
</script>

<style scoped>
.logo {
  margin: 8px !important;
}
</style>
