<template>
  <checkout-frame title="payment_overview" :step="2">
    <checkout-payment
      v-if="host && booking"
      :host="host"
      :token="booking.token"
      :booking-id="booking.id"
      :gateway="gateway"
    />
  </checkout-frame>
</template>

<script>
import CartMixin from '../../../../../utils/mixins/CartMixin'
import CityPageMixin from '../../../../../utils/mixins/CityPageMixin'
import { interopDefault } from '../../../../../.nuxt/utils'
const CheckoutFrame = () =>
  interopDefault(import('../../../../../components/CheckoutFrame'))
const CheckoutPayment = () =>
  interopDefault(import('../../../../../components/checkout/CheckoutPayment'))

export default {
  name: 'BookingId',
  components: { CheckoutPayment, CheckoutFrame },
  mixins: [CartMixin, CityPageMixin],
  mounted() {
    this.mountedBookingIdPage()
  }
}
</script>

<style scoped></style>
