<template>
  <job-detail-content />
</template>

<script>
import JobDetailContent from '../../components/JobDetailContent'
export default {
  name: 'Job',
  components: { JobDetailContent }
}
</script>
