<template>
  <jobs-content />
</template>

<script>
import JobsContent from '../../components/JobsContent'
import SEOMixin from '../../utils/mixins/SEOMixin'
export default {
  name: 'Index',
  components: { JobsContent },
  mixins: [SEOMixin]
}
</script>
