<template>
  <tours-content />
</template>

<script>
import ToursContent from '../../../../components/ToursContent'
import SEOMixin from '../../../../utils/mixins/SEOMixin'
export default {
  name: 'Index',
  components: { ToursContent },
  mixins: [SEOMixin]
}
</script>

<style scoped></style>
