<template>
  <div class="box is-paddingless" :class="{ 'sold-out': isSoldOut }">
    <div @click="onClick()">
      <CardItemHeader
        :city="city"
        :time-slot="timeSlot"
        :is-loading="isLoading"
        :duration="4"
        :item="item"
        :mode="'dateMode'"
      />
    </div>
    <div
      :id="'item-' + timeSlot.start_date"
      class="has-padding-sides card-item-body"
      :class="{ hidden: isHiddenIntern === true }"
    >
      <div
        class="columns is-mobile is-centered has-text-centered is-marginless"
      >
        <div
          v-for="(tab, index) in tabs"
          :key="tab"
          v-snippet="tab"
          class="column is-one-third"
          :class="isSelectedTab(index)"
          @click="selectTab(index)"
        />
      </div>
      <hr />
      <time-slot-body-details
        v-show="currentTab === 0"
        :time-slot="timeSlot"
        :item="item"
        @update-state="nextTab"
      />
      <time-slot-body-coupon
        v-show="currentTab === 1"
        :time-slot="timeSlot"
        :item="item"
        @update-state="nextTab"
      />
      <time-slot-body-summary
        v-show="currentTab === 2"
        :time-slot="timeSlot"
        :item="item"
        @update-state="nextTab"
      />
    </div>
  </div>
</template>

<script>
import TimeSlotHelper from '../../utils/helper/TimeSlotHelper'
import { interopDefault } from '../../.nuxt/utils'
const CardItemHeader = () => interopDefault(import('../CardItemHeader'))
const TimeSlotBodyDetails = () =>
  interopDefault(import('./TimeSlotBodyDetails'))
const TimeSlotBodyCoupon = () => interopDefault(import('./TimeSlotBodyCoupon'))
const TimeSlotBodySummary = () =>
  interopDefault(import('./TimeSlotBodySummary'))

export const AnimeFactory = {
  create: () => {
    return new Promise((resolve) => {
      import('animejs/lib/anime.es.js').then((anime) => resolve(anime.default))
    })
  }
}

export default {
  name: 'AvailableTourCard',
  components: {
    TimeSlotBodySummary,
    TimeSlotBodyCoupon,
    TimeSlotBodyDetails,
    CardItemHeader
  },
  props: {
    city: {
      type: Object,
      default() {
        return null
      }
    },
    timeSlot: {
      type: Object,
      default() {
        return null
      }
    },
    isHidden: {
      type: Boolean,
      default: true
    },
    isLoading: {
      type: Boolean,
      default: true
    },
    item: {
      type: Object,
      required: true
    },
    bodyHeight: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      currentTab: 0,
      isHiddenIntern: false
    }
  },
  computed: {
    isSoldOut() {
      return TimeSlotHelper.isSoldOut(this.timeSlot)
    },
    tabs() {
      return ['details', 'coupon', 'total']
    }
  },
  async mounted() {
    await this.getHeightOfBody()
    if (this.isHidden) {
      // Card has to be open initially to calculate height. Then should be closed if necessary.
      this.toggleCardHeight(false)
    }
    this.isHiddenIntern = this.isHidden
  },
  methods: {
    selectTab(tabIndex) {
      this.currentTab = tabIndex
    },
    nextTab() {
      this.selectTab(this.currentTab + 1)
    },
    isSelectedTab(counter) {
      if (counter === this.currentTab) {
        return 'selected'
      }
    },
    async getHeightOfBody() {
      if (!window) return
      const height = await new Promise((resolve) => {
        window.setTimeout(() => {
          if (!this.isHiddenIntern && !process.server) {
            const bodyHeight = this.$el.children[1].clientHeight
            resolve(bodyHeight)
          }
        }, 150)
      })
      this.$emit('on-body-height', height)
    },
    async onClick() {
      await this.toggleCardHeight(this.isHiddenIntern)
      this.isHiddenIntern = !this.isHiddenIntern
    },
    async toggleCardHeight(open) {
      const anime = await AnimeFactory.create()
      if (!this.timeSlot) return
      anime({
        targets: '#item-' + this.timeSlot.start_date,
        height: open ? this.bodyHeight : 0
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/variables';

.hidden {
  height: 0;
}
.sold-out {
  opacity: 0.5;
}
.has-padding-sides {
  @media screen and (min-width: $tablet) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.box {
  color: black !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  overflow: hidden;
}
.card-item-body {
  background-color: $light;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0 !important;
}
.selected {
  font-weight: bold;
  border-bottom: solid 2px $primary;
}
</style>
