<template>
  <div class="field has-addons">
    <p class="control">
      <button
        class="button is-rounded"
        :disabled="count - 1 < min"
        @click="onChange(-1)"
      >
        <tt-svg name="minus" :width="24" :height="24" />
      </button>
    </p>
    <p class="control">
      <button class="button is-rounded is-disabled">
        <b>{{ count }}</b>
      </button>
    </p>
    <p class="control">
      <button
        class="button is-rounded"
        :disabled="count + 1 > max"
        @click="onChange(1)"
      >
        <tt-svg name="plus" :width="24" :height="24" />
      </button>
    </p>
  </div>
</template>

<script>
import { interopDefault } from '../../.nuxt/utils'

const TtSvg = () => interopDefault(import('../TtSvg'))

export default {
  name: 'CountButtonGroup',
  components: { TtSvg },
  props: {
    startCount: {
      type: Number,
      default: 0
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 9999
    }
  },
  data() {
    return {
      count: 0
    }
  },
  mounted() {
    this.count = this.startCount
  },
  methods: {
    onChange(amount) {
      this.count += amount
      this.$emit('change', this.count)
    }
  }
}
</script>

<style scoped>
.is-disabled {
  cursor: not-allowed;
}
</style>
