<template>
  <div class="has-bottom-padding-20">
    <div class="has-bottom-padding-20">
      <div>
        <b v-snippet="'amount_guests'" class="is-inline-block" />:
        <p class="is-inline-block">{{ selectedTickets }}</p>
      </div>
      <div>
        <b v-snippet="'price'" class="is-inline-block" />: {{ singlePrice }} /
        <p v-snippet="'per_person'" class="is-inline-block" />
      </div>
      <div v-if="hasDiscount">
        <b v-snippet="'discount_code'" class="is-inline-block" />:
        {{ discountDescription }}
      </div>
      <b v-snippet="'date'" />: {{ date }} <br />
      <b v-snippet="'time'" />: {{ time }} <br />
      <hr />
      <b v-snippet="'total'" />:
      <s v-if="hasDiscount" class="is-inline-block"
        ><b> {{ totalPrice }} </b></s
      >
      <b v-if="hasDiscount" class="is-inline-block has-text-success">
        {{ discountedTotalPrice }}</b
      >
      <b v-else> {{ totalPrice }}</b>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-6 is-offset-0-mobile">
        <button
          v-snippet="'add_to_cart'"
          class="button is-rounded is-uppercase"
          @click="onAddToCart()"
        />
      </div>
    </div>
  </div>
</template>
<script>
import TimeSlotBodyMixin from '../../utils/mixins/TimeSlotBodyMixin'
import CartMixin from '../../utils/mixins/CartMixin'
import CityPageMixin from '../../utils/mixins/CityPageMixin'
import SnippetMixin from '../../utils/mixins/SnippetMixin'

export default {
  name: 'TimeSlotBodySummary',
  mixins: [TimeSlotBodyMixin, CartMixin, CityPageMixin, SnippetMixin],
  data() {
    return {
      time: null,
      date: null
    }
  },
  computed: {
    isInCart() {
      return !!this.session
    }
  },
  methods: {
    getCityId() {
      return this.city.id
    },
    async onAddToCart() {
      await this.$store.dispatch('cart/createBookingSession', {
        timeSlot: this.timeSlot
      })
      this.$router.push(this.getPathToCart())
    },
    onContinueShoppingClick() {
      this.$router.go(-1)
    },
    getPathToCart() {
      return this.localePath({
        name: 'cities-city-cart-sessionId',
        params: {
          city: this.getSlugForCity(this.city),
          sessionId: this.session.id
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/variables';

.button {
  background-color: $primary;
  color: white;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0 !important;
}
</style>
