<template>
  <div class="has-bottom-padding-20">
    <input v-model="discountCode" class="input is-rounded" type="text" />
    <p
      v-if="isInvalidCode"
      v-snippet="'coupon_error'"
      class="validity warning"
    />
    <p
      v-if="isValidCode"
      v-snippet="'coupon_success'"
      class="validity has-text-success"
    />
    <p v-snippet="'coupon_enter'" class="text" />
    <div class="columns">
      <div v-if="isInvalidCode" class="column is-5 is-offset-6 pull-right">
        <button
          v-snippet="'next_without_code'"
          class="button is-rounded is-uppercase has-top-padding-20"
          @click="onContinueWithoutCode()"
        />
      </div>
      <div v-else class="column is-3 is-offset-8 pull-right">
        <button
          v-snippet="'next'"
          class="button is-rounded is-uppercase has-top-padding-20"
          @click="onClick()"
        />
      </div>
    </div>
  </div>
</template>

<script>
import TimeSlotBodyMixin from '../../utils/mixins/TimeSlotBodyMixin'
import FetchTimesMixin from '../../utils/mixins/FetchTimesMixin'
import CityPageMixin from '../../utils/mixins/CityPageMixin'
import UrlDateMixin from '../../utils/mixins/UrlDateMixin'

export default {
  name: 'TimeSlotBodyCoupon',
  mixins: [TimeSlotBodyMixin, FetchTimesMixin, CityPageMixin, UrlDateMixin],
  data() {
    return {
      hasTriedCode: false,
      discountCode: ''
    }
  },
  computed: {
    isInvalidCode() {
      return !this.hasDiscount && this.hasTriedCode
    },
    isValidCode() {
      return this.hasDiscount && this.hasTriedCode
    }
  },
  watch: {
    discountCode() {
      this.hasTriedCode = false
    }
  },
  methods: {
    async onClick() {
      if (!this.hasEnteredCode()) {
        this.continue()
        return
      }
      await this.postDiscountCode()
      this.hasTriedCode = true
      this.$nextTick(() => {
        if (this.isInvalidCode) return
        this.continue()
      })
    },
    async postDiscountCode() {
      this.checkItem()
      await this.fetchTimes({
        dateString: this.dateString,
        cityId: this.city.id,
        articleId: this.item.item_id,
        discountCode: this.discountCode,
        selectedTickets: this.selectedTickets,
        ticketParameter: this.ticketParameter
      })
    },
    hasEnteredCode() {
      return this.discountCode.length > 0
    },
    continue() {
      this.$emit('update-state')
    },
    onContinueWithoutCode() {
      this.continue()
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/variables';

.button {
  background-color: $primary;
  color: white;
}
.validity {
  font-size: x-small;
}
.warning {
  color: red;
}
.text {
  color: gray;
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
