<template>
  <div class="has-bottom-padding-20">
    <div class="has-bottom-padding-20">
      <b v-snippet="'amount_guests'" />: {{ selectedTickets }}<br />
      <b v-snippet="'price'" class="is-inline-block" />: {{ singlePrice }}/
      <p v-snippet="'per_person'" class="is-inline-block" />
      <br />
      <b v-snippet="'date'" />: {{ date }} <br />
      <b v-snippet="'time'" />: {{ time }} <br />
    </div>
    <div class="columns">
      <div class="column is-5 count-label">
        <b v-snippet="'amount_guests'" class="is-small" />:
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-5">
        <count-button-group
          :start-count="selectedTickets"
          :min="1"
          :max="availableTickets"
          @change="onCountChange"
        />
      </div>
      <div class="column is-one-third is-offset-3 pull-right">
        <button
          v-if="!isSoldOut"
          v-snippet="'next'"
          class="button is-rounded is-uppercase"
          @click="onClick()"
        />
      </div>
    </div>
  </div>
</template>

<script>
import SnippetMixin from '../../utils/mixins/SnippetMixin'
import TimeSlotBodyMixin from '../../utils/mixins/TimeSlotBodyMixin'
const CountButtonGroup = () => import('./CountButtonGroup')

export default {
  name: 'TimeSlotBodyDetails',
  components: { CountButtonGroup },
  mixins: [SnippetMixin, TimeSlotBodyMixin],
  data() {
    return {
      time: null,
      date: null
    }
  },
  methods: {
    onClick() {
      this.$emit('update-state')
    },
    onCountChange(newCount) {
      this.$store.dispatch('cart/update', newCount)
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../assets/scss/variables';

.button {
  background-color: $primary;
  color: white;
}

.count-label {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
</style>
